input:not([type="checkbox"]), textarea
    width: 100%
    height: 2.5em
    background-color: transparent
    font-size: 1em
    color: $darkGray-2
    outline: none
    font-family: $fontDefault
    -webkit-appearance: none
    border-radius: 0

    +placeholder
        color: $midGray-1

label
    user-select: none

.form-group
    +clearfix
    margin-bottom: 1.5em

    &.inline
        display: inline-block
        min-width: 24%

    .control-label
        font-size: 0.875em
        font-weight: 700
        color: $darkGray-1
        +transition(color $animationFast)
        padding-left: 1em
        position: relative
        display: block

        &:before
            content: ''
            width: 0.75em
            height: 1px
            position: absolute
            bottom: 0.25em
            border-bottom: 1px solid $midGray-1
            +transition(border-bottom-color $animationFast)

        &:before
            left: 0

    &.focus .control-label
        color: $secondaryAccent
        &:before
            border-bottom-color: $secondaryAccent

    input, textarea
        border-bottom: 1px solid $midGray-1

        +transition(border-bottom $animationFast)

        &:focus
            border-bottom: 1px solid $secondaryAccent

    textarea
        max-width: 28em
        min-height: 8em

    &.error
        input, textarea
            border-bottom-color: $accent

        .control-label
            color: $accent
            &:before
                border-bottom-color: $accent

.form-group-content
    margin-bottom: 1.5em

    input
        height: 2em

.form-group-column
    float: left

.form-group-column-field
    width: 65%
    @media screen and (max-width: $microThreshold)
        width: 100%

.form-group-errors
    color: $accent
    padding: 0.25em 0
    font-size: 0.75em
    font-family: $fontHeading

    li
        padding: 0.25em 0

.form-group-column-help
    width: 35%
    padding: 2.75em 0 0 1.5em
    font-size: 0.75em
    color: $midGray-1

    @media screen and (max-width: $microThreshold)
        display: none

.form-group-password
    .strength-meter
        background-color: $lightGray-3
        height: 0.25em

        div
            height: 0.25em
            width: 0%
            +transition(all 150ms)

        .veryweak
            background-color: $error
        .weak
            background-color: #e67e22
        .medium
            background-color: #f1c40f
        .strong
            background-color: $success

.form-select-container
    display: inline-block
    position: relative
    border-bottom: 1px solid $midGray-1
    margin-right: 1em

    i
        +position(absolute, 0.625em 0 null null)
        color: $darkGray-1
        font-size: 0.875em
        +transition(color $animationFast)

    select
        height: 2em
        position: relative
        z-index: 1
        cursor: pointer
        background: transparent
        -webkit-appearance: none
        border: 0
        box-shadow: none
        outline: none
        padding-right: 1.5em
        font-size: 1em
        color: $darkGray-2
        padding-top: 0.25em

.form-group-icon-label

    .icon-label
        float: right
        color: $midGray-1
        display: inline-block
        width: 2em
        text-align: center
        font-size: 1.25em
        line-height: 2em
        +transition(color $animationFast)

    input
        float: right
        width: calc(100% - 2.5em)

        &:focus + .icon-label
            color: $secondaryAccent

.form-checkbox
    display: block
    float: left

    span
        +transition(color $animationFast)
        color: $error

        .icon-check
            display: none

    input
        display: none

        &:checked
            & + span
                color: $success

                .icon-check
                    display: inline
                .icon-cancel
                    display: none

.form-group-tag
    .taglist
        position: relative
        padding-top: 0.25em
        padding-bottom: 2.5em
        overflow-y: hidden

        &.empty
            padding-top: 0
            padding-bottom: 2em

    .tag
        float: left
        margin: 0.375em 0.375em 0 0
        border-radius: 0.125em
        background-color: $secondaryAccent
        color: $lightGray-1
        line-height: 2em
        padding: 0 2em 0 0.5em
        position: relative
        +transition(background-color 500ms)

        &.flash
            background-color: $accent
            +transition(background-color 0ms)

        i
            +position(absolute, 0 0 null null)
            display: block
            +size(2em)
            opacity: 0.7
            cursor: pointer
            text-align: center

    .tag-input
        +position(absolute, null null 0 0)
        width: 100%
        border-top: 1px dashed lighten($midGray-1, 10%)

.form-media-container
    padding-top: 0.5em

    .empty-notification
        line-height: 1.5em
        display: none
        color: $darkGray-1

    .form-media-gallery
        +clearfix

        i
            +position(absolute, 0 0 null null)
            display: block
            +size(2em)
            color: $lightGray-1
            background-color: rgba(64, 70, 71, 0.8)
            cursor: pointer
            line-height: 2em
            text-align: center

        li
            float: left
            vertical-align: bottom
            width: 16.66666667%
            position: relative
            cursor: move

            &.ui-sortable-helper i
                display: none

            &.placeholder
                padding-top: 16.66666667%
                background-color: $lightGray-3

            @media screen and (max-width: $collapseThreshold)
                width: 25%

        img
            width: 100%
            vertical-align: bottom

    .form-document-thumbnail
        i
            display: inline-block
            +size(2.5em)
            text-align: center
            line-height: 2.5em
            color: $darkGray-1
            border-right: 1px solid $lightGray-3

        img
            vertical-align: bottom
            +size(2.5em)
            display: inline-block

        p
            margin-left: -2.5em
            padding: 0 0.75em 0 3.25em
            line-height: 2.5em
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            width: 100%
            display: inline-block

    &.empty
        .empty-notification
            display: block
        .form-document-thumbnail, .form-media-gallery
            display: none

    .buttons
        margin-top: 0.5em
    .button-clear
        background-color: $accent
    .button-add
        background-color: $secondaryAccent

.minicolors-no-data-uris .minicolors-sprite
    background-image: url('../img/minicolors.png')

.minicolors-theme-default .minicolors-input
    height: 2em
    padding-left: 2em

.minicolors-theme-default .minicolors-swatch
    top: 0.5em
    left: 0.4em
    border: 0

.content-form
    padding: 6em 2em 3em

    h3
        font-size: 1.5em
        font-family: $fontHeading
        margin-bottom: 1em
        color: $midGray-3

    @media screen and (max-width: $collapseThreshold)
        padding: 5em 1.5em 2em
    @media screen and (max-width: $microThreshold)
        padding: 4em 1em 1em

.content-form-sub
    padding: 2em
    border-top: 1px solid $secondaryAccent
    margin-top: 1em

.no-touch
    .form-media-container
        .form-media-gallery li
            i
                opacity: 0
                +transition(opacity $animationNav)
            &:hover i
                opacity: 1

        .buttons
            .button-add:hover
                background-color: $notificationHover
            .button-clear:hover
                background-color: $errorHover

    .form-select-container:hover
        i
            color: $darkGray-2