.navigation-nodes
    width: 17em

    @media screen and (max-width: $collapseThreshold)
        width: 100%

        .navigation-nodes-content
            width: 18em

    .navigation-nodes-container
        +size(100%)
        padding: 0.5em 1em 0

        @media screen and (max-width: $collapseThreshold)
            box-shadow: none
            width: 20em

    #search-nodes
        border-bottom: 1px solid $midGray-1
        padding-bottom: 0.5em

        input[type="search"]
            font-size: 0.75em
            width: calc(100% - 3.33333333em)
            float: right
            height: 3.33333333em

            &:focus + .icon-label
                color: darken($midGray-3, 20%)

        .icon-label
            font-size: 1.25em
            display: inline-block
            +size(2em)
            line-height: 2em
            text-align: center
            color: $midGray-3
            +transition(color $animationFast)

    .nodes-header
        text-align: center
        padding-top: 1.5em
        position: relative

        h2
            font-size: 1.25em
            color: $midGray-3
            position: relative

            &:after
                +position(absolute, null null -0.25em 50%)
                margin-left: -0.875em
                width: 1.75em
                height: 1px
                content: ''
                border-bottom: 1px solid $lightGray-3

        a
            +position(absolute, 0.875em 0 null null)
            font-size: 1.5em
            color: $midGray-1

.node-tabs
    margin: 0.5em 0 1em
    text-align: center
    color: $midGray-2
    font-size: 0.875em

    li
        display: inline-block
        padding: 1em 0.25em 0.5em
        width: 2em
        border-bottom: 2px solid transparent
        text-align: center
        cursor: pointer
        +transition(color $animationFast)
        user-select: none

        &.active
            color: $darkGray-1
            cursor: default
            border-bottom-color: $accent

.nodes-list-tab
    display: none
    &.active
        display: block

.nodes-list
    padding-bottom: 3em

.nodes-list li
    padding: 0.5em 0
    line-height: 1em
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

    & > a
        color: $darkGray-2
        display: inline-block
        vertical-align: top

.nodes-list.node-tree li
    background: url('../img/pixel.png') 0 0 no-repeat, url('../img/pixel.png') 0 1em no-repeat
    background-size: 1px 100%, 1em 1px

    &:last-child
        background-size: 1px 1em, 1em 1px
        background-position: 0 0, 0 1em
        padding-bottom: 0

    > &:first-child
        background-size: 1px 100%, 1em 1px
        background-position: 0 1em, 0 1em

.node-root
    border-bottom: 1px solid $lightGray-3
    padding: 1em 0
    font-size: 0.75em
    background: transparent !important

    &:last-child
        border-bottom: 0

.node-children
    padding-left: 1.5em

    li:first-child
        padding-top: 1em !important
        background-position: 0 0, 0 1.5em !important

        &:only-child
            background-size: 1px 1.5em, 1em 1px !important
            background-position: 0 0em, 0 1.5em !important

.node-intersection
    border-radius: 50%
    border: 1px solid $midGray-1
    +size(1em)
    display: inline-block
    margin: 0 0.5em 0em 1em
    vertical-align: top

.no-touch
    .navigation-nodes .nodes-header a:hover
        color: $midGray-3

    .node-tabs li:hover
        color: $darkGray-1