.navigation-nodes
    width: 17em
    position: relative

    .navigation-nodes-content
        width: 15em

    @media screen and (max-width: $collapseThreshold)
        width: 100%
        top: 0

        .navigation-nodes-content
            width: 18em

    .navigation-nodes-container
        +size(100%)
        padding: 0.5em 1em 0
        position: relative

        @media screen and (max-width: $collapseThreshold)
            box-shadow: none
            width: 20em

    #search-nodes
        border-bottom: 1px solid $midGray-1
        padding: 0.25em 0

        input[type="search"]
            font-size: 0.75em
            width: calc(100% - 3.33333333em)
            float: right
            height: 3.33333333em

            &:focus + .icon-label
                color: darken($midGray-3, 20%)

        .icon-label
            font-size: 1.25em
            display: inline-block
            +size(2em)
            line-height: 2em
            text-align: center
            color: $midGray-3
            +transition(color $animationFast)

    .nodes-header
        text-align: center
        padding-top: 1.5em
        position: relative

        h2
            font-size: 1.25em
            color: $midGray-3
            position: relative

            &:after
                +position(absolute, null null -0.25em 50%)
                margin-left: -0.875em
                width: 1.75em
                height: 1px
                content: ''
                border-bottom: 1px solid $lightGray-3

        a
            +position(absolute, 0.875em 0 null null)
            font-size: 1.5em
            color: $midGray-1

.nodes-subtree-container
    position: relative
    padding: 1em 1.5em

    .nodes-list
        padding-bottom: 0

        > li
            > .node-label
                font-size: 1.16666667em
                > a
                    padding-bottom: 0.125em
                .node-options
                    font-size: 0.85714286em
            > .node-children
                padding-left: 1.458em

.navigation-nodes-whiteout
    background-color: rgba(250, 250, 250, 0.7)
    +position(absolute, 0 null null 0)
    +size(100%)
    z-index: -1
    opacity: 0
    +transition(z-index 0ms ease $animationNav, opacity $animationNav)

    &.active
        z-index: 100
        opacity: 1
        +transition(opacity $animationNav)

.node-tabs
    margin: 0.5em 0 1em
    text-align: center
    color: $midGray-2
    font-size: 0.875em

    li
        display: inline-block
        padding: 1em 0.25em 0.5em
        width: 2em
        border-bottom: 2px solid transparent
        text-align: center
        cursor: pointer
        +transition(color $animationFast)
        user-select: none

        &.active
            color: $darkGray-1
            cursor: default
            border-bottom-color: $accent

.nodes-list-tab
    display: none
    &.active
        display: block

.nodes-list
    padding-bottom: 1em
    overflow: visible

.nodes-list li
    padding: 0.5em 0
    line-height: 1em
    background: url('../img/pixel.png') 0 0 no-repeat, url('../img/pixel.png') 0 1.125em no-repeat
    background-size: 1px 100%, 0.75em 1px

    &:last-child
        background-size: 1px 1.225em, 0.75em 1px
        background-position: 0 0, 0 1.125em
        padding-bottom: 0

    > &:first-child
        background-size: 1px 100%, 0.75em 1px
        background-position: 0 1.125em, 0 1.125em

    .node-label
        position: relative

    .node-label > a
        color: $darkGray-2
        vertical-align: top
        white-space: nowrap
        text-overflow: ellipsis
        display: inline-block
        width: calc(100% - 4em)
        overflow: hidden
        line-height: 1.25em

    &.placeholder
        border: 1px dashed $midGray-1
        min-height: 2.25em
        background: transparent

.nodes-list .node-options
    +position(absolute, -0.5em -1em null null)
    width: 3em
    height: 2.5em

    a
        color: $darkGray-2

    .content-item-options-button
        color: $midGray-1
        padding: 0.25em 0.75em
        vertical-align: top

    .content-item-options-list
        right: 1.25em
        top: 1em

    li
        background: transparent
        line-height: 2.85714286em
        padding: 0
        font-size: 1.15em

    a
        margin-right: 0
        display: block
        width: 100%
        line-height: inherit

    .options-header
        color: $lightGray-1
        padding: 1em 0.75em 0.5em 1.5em !important
        font-weight: 700
        line-height: 1.25em

.nodes-list > li
    border-bottom: 1px solid $lightGray-3
    font-size: 0.75em
    background: transparent !important
    padding-bottom: 1em !important
    margin-top: 0.5em

    @media screen and (max-width: $collapseThreshold)
        font-size: 0.875em

    &:last-child
        border-bottom: 0

.node-children
    padding-left: 1.25em

    li:first-child
        padding-top: 1em !important
        background-position: 0 0, 0 1.625em !important

        &:only-child
            background-size: 1px 1.625em, 0.75em 1px !important
            background-position: 0 0, 0 1.625em !important

.node-icon
    +size(1em)
    display: inline-block
    margin: 0.25em 0.25em 0em 0.75em
    vertical-align: top

.node-home
    margin: 0.25em 0.25em 0em 0.6em
    width: 1.15em

    i
        color: $darkGray-1

.node-intersection
    border-radius: 50%
    border: 1px solid $midGray-1
    background-color: $lightGray-1

.drag-handle
    cursor: move

.node-hides-children
    position: relative

    &:after, &:before
        content: ''
        border-radius: 50%
        background-color: $lightGray-1
        border: 1px solid $midGray-1
        +size(1em)
        +position(absolute, 0 null null -0.2em)
        z-index: 49
        vertical-align: top
        display: inline-block

    &:after
        left: 0.2em
        z-index: 50

.no-touch
    .navigation-nodes .nodes-header a:hover
        color: $midGray-3

    .node-tabs li:hover
        color: $darkGray-1

    .nodes-list li a:hover
        color: $secondaryAccent

    .nodes-list .node-options .content-item-options-button:hover
        color: $darkGray-1