/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Main reset */
*, *:after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Disable font size adaptation for webkit */
html {
  -webkit-text-size-adjust: 100%; }

/* Normalize search input */
input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Reset general element styles */
strong {
  font-weight: 700; }

.dialog-container {
  width: 100%;
  height: 100vh;
  background: url("../img/line-diagonal.png") repeat center center;
  position: relative; }
  .dialog-container--xxl {
    min-width: 48em;
    min-height: 44em; }
  .dialog-container--xl {
    min-width: 48em;
    min-height: 40em; }
  .dialog-container--large {
    min-width: 48em;
    min-height: 32em; }
  .dialog-container--small {
    min-width: 20em;
    min-height: 26em; }

.dialog {
  background-color: #272E36;
  color: #FFFFFF;
  box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em 2.5em; }
  .dialog--xl {
    width: 48em;
    height: 40em; }
  .dialog--large {
    width: 48em;
    height: 32em; }
  .dialog--small {
    width: 20em;
    height: 26em; }

.button {
  display: inline-block;
  line-height: 3.33333333em;
  height: 3.33333333em;
  font-size: 0.75em;
  font-weight: 700;
  font-family: "Lato", Helvetica, sans-serif;
  color: #F1C40F;
  padding: 0 3em;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 250ms;
  padding-top: 0.125em;
  text-decoration: none; }
  .button--emphasis {
    color: #FFFFFF;
    background-color: #F1C40F; }
  .button__icon {
    position: relative;
    top: 0.0625em;
    display: inline-block; }
    .button__icon--left {
      transform: translateX(-0.75em); }
    .button__icon--right {
      transform: translateX(0.75em); }

.no-touch .button:hover {
  opacity: 0.7; }

input:not([type="checkbox"]), textarea {
  width: 100%;
  height: 2.5em;
  background-color: transparent;
  font-size: 1em;
  color: #5F696A;
  outline: none;
  font-family: "Oxygen", Helvetica, sans-serif;
  -webkit-appearance: none;
  border-radius: 0; }
  input:not([type="checkbox"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #95A5A6; }
  input:not([type="checkbox"])::-moz-placeholder, textarea::-moz-placeholder {
    color: #95A5A6; }
  input:not([type="checkbox"]):-moz-placeholder, textarea:-moz-placeholder {
    color: #95A5A6; }
  input:not([type="checkbox"]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #95A5A6; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-group {
  margin: 0.5em 0 1.5em; }
  .form-group::after {
    clear: both;
    content: "";
    display: table; }
  .form-group--inline {
    display: inline-block;
    min-width: 24%; }
  .form-group__label {
    text-align: left;
    font-size: 0.875em;
    font-weight: 700;
    font-family: "Lato", Helvetica, sans-serif;
    color: #95A5A6;
    transition: color 250ms;
    padding-left: 1em;
    position: relative;
    display: block;
    line-height: 1.25em; }
    .form-group__label:before {
      content: '';
      width: 0.75em;
      height: 1px;
      position: absolute;
      bottom: 0.25em;
      border-bottom: 1px solid #95A5A6;
      left: 0;
      transition: border-bottom-color 250ms; }
    .form-group__label--focus {
      color: #F1C40F; }
      .form-group__label--focus:before {
        border-bottom-color: #F1C40F; }
    .form-group__label--danger {
      color: #E74C3C; }
      .form-group__label--danger:before {
        border-bottom-color: #E74C3C; }
  .form-group input, .form-group textarea {
    border-bottom: 1px solid #95A5A6;
    transition: border-bottom 250ms; }
    .form-group input:focus, .form-group textarea:focus {
      border-bottom: 1px solid #F1C40F; }
  .form-group textarea {
    max-width: 28em;
    min-height: 8em; }
  .form-group__select {
    position: relative;
    border-bottom: 1px solid #95A5A6; }
    .form-group__select i {
      position: absolute;
      top: 0.625em;
      right: 0.375em;
      color: #95A5A6;
      font-size: 0.875em;
      transition: color 250ms; }
    .form-group__select select {
      height: 2em;
      position: relative;
      width: 100%;
      z-index: 1;
      cursor: pointer;
      background: transparent;
      -webkit-appearance: none;
      border: 0;
      box-shadow: none;
      outline: none;
      padding-right: 1.5em;
      font-size: 1em;
      color: #5F696A; }
  .form-group--error input, .form-group--error textarea {
    border-bottom-color: #E74C3C; }
  .form-group--inverted input:not([type="checkbox"]), .form-group--inverted textarea, .form-group--inverted select {
    color: #FFFFFF; }

@font-face {
  font-family: 'nuclear-icons';
  src: url("fonts/nuclear-icons.eot?hwfkcb");
  src: url("fonts/nuclear-icons.eot?hwfkcb#iefix") format("embedded-opentype"), url("fonts/nuclear-icons.ttf?hwfkcb") format("truetype"), url("fonts/nuclear-icons.woff?hwfkcb") format("woff"), url("fonts/nuclear-icons.svg?hwfkcb#nuclear-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nuclear-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-anchor:before {
  content: "\e900"; }

.icon-arrow-down:before {
  content: "\e901"; }

.icon-arrow-left:before {
  content: "\e902"; }

.icon-arrow-right:before {
  content: "\e903"; }

.icon-arrow-up:before {
  content: "\e904"; }

.icon-audio:before {
  content: "\e905"; }

.icon-blank:before {
  content: "\e906"; }

.icon-bold:before {
  content: "\e907"; }

.icon-cancel:before {
  content: "\e908"; }

.icon-checkbox-checked:before {
  content: "\e909"; }

.icon-checkbox-intermediate:before {
  content: "\e90a"; }

.icon-checkbox-unchecked:before {
  content: "\e90b"; }

.icon-code:before {
  content: "\e90c"; }

.icon-cog:before {
  content: "\e90d"; }

.icon-cogs:before {
  content: "\e90e"; }

.icon-confirm:before {
  content: "\e90f"; }

.icon-dashboard:before {
  content: "\e910"; }

.icon-document-audio:before {
  content: "\e911"; }

.icon-document-embed:before {
  content: "\e912"; }

.icon-document-excel:before {
  content: "\e913"; }

.icon-document-image:before {
  content: "\e914"; }

.icon-document-pdf:before {
  content: "\e915"; }

.icon-document-powerpoint:before {
  content: "\e916"; }

.icon-document-text:before {
  content: "\e917"; }

.icon-document-upload:before {
  content: "\e918"; }

.icon-document-video:before {
  content: "\e919"; }

.icon-document-word:before {
  content: "\e91a"; }

.icon-document:before {
  content: "\e91b"; }

.icon-documents:before {
  content: "\e91c"; }

.icon-download:before {
  content: "\e91d"; }

.icon-ellipsis-horizontal:before {
  content: "\e91e"; }

.icon-ellipsis-vertical:before {
  content: "\e91f"; }

.icon-envelope:before {
  content: "\e920"; }

.icon-envelopes:before {
  content: "\e921"; }

.icon-eye:before {
  content: "\e922"; }

.icon-facebook:before {
  content: "\e923"; }

.icon-floppy:before {
  content: "\e924"; }

.icon-folder:before {
  content: "\e925"; }

.icon-heading:before {
  content: "\e926"; }

.icon-home:before {
  content: "\e927"; }

.icon-image:before {
  content: "\e928"; }

.icon-indent:before {
  content: "\e929"; }

.icon-italic:before {
  content: "\e92a"; }

.icon-kk:before {
  content: "\e92b"; }

.icon-language:before {
  content: "\e92c"; }

.icon-list-bullet:before {
  content: "\e92d"; }

.icon-list-linear:before {
  content: "\e92e"; }

.icon-list-types:before {
  content: "\e92f"; }

.icon-lock:before {
  content: "\e930"; }

.icon-login:before {
  content: "\e931"; }

.icon-logout:before {
  content: "\e932"; }

.icon-minus:before {
  content: "\e933"; }

.icon-node-child-create:before {
  content: "\e934"; }

.icon-node-tree:before {
  content: "\e935"; }

.icon-outdent:before {
  content: "\e936"; }

.icon-pencil:before {
  content: "\e937"; }

.icon-pipe:before {
  content: "\e938"; }

.icon-plus:before {
  content: "\e939"; }

.icon-profile:before {
  content: "\e93a"; }

.icon-quote:before {
  content: "\e93b"; }

.icon-search:before {
  content: "\e93c"; }

.icon-soundcloud:before {
  content: "\e93d"; }

.icon-status-archived:before {
  content: "\e93e"; }

.icon-status-draft:before {
  content: "\e93f"; }

.icon-status-invisible:before {
  content: "\e940"; }

.icon-status-locked:before {
  content: "\e941"; }

.icon-status-pending:before {
  content: "\e942"; }

.icon-status-publish:before {
  content: "\e943"; }

.icon-status-published:before {
  content: "\e944"; }

.icon-status-withheld:before {
  content: "\e945"; }

.icon-subscript:before {
  content: "\e946"; }

.icon-superscript:before {
  content: "\e947"; }

.icon-sync:before {
  content: "\e948"; }

.icon-tag-create:before {
  content: "\e949"; }

.icon-tag:before {
  content: "\e94a"; }

.icon-tags:before {
  content: "\e94b"; }

.icon-trash:before {
  content: "\e94c"; }

.icon-twitter:before {
  content: "\e94d"; }

.icon-upload:before {
  content: "\e94e"; }

.icon-user-permission:before {
  content: "\e94f"; }

.icon-user-role:before {
  content: "\e950"; }

.icon-user:before {
  content: "\e951"; }

.icon-users:before {
  content: "\e952"; }

.icon-video:before {
  content: "\e953"; }

.icon-vimeo:before {
  content: "\e954"; }

.icon-wrench:before {
  content: "\e955"; }

.icon-youtube:before {
  content: "\e956"; }

.modal-buttons {
  text-align: right;
  padding: 0 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5em;
  width: 100%; }

.progress {
  padding: 0.75em 1em;
  text-align: center; }
  .progress__item {
    display: inline-block;
    height: 0.625em;
    width: 0.625em;
    border-radius: 50%;
    border: 1px solid #95A5A6;
    margin: 0 0.5em;
    vertical-align: top; }
    .progress__item--complete {
      border: 0;
      background-color: #333941; }
    .progress__item--active {
      border: 0;
      background-color: #F1C40F; }

body {
  font-family: "Oxygen", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 300; }

.text--sm {
  font-size: 0.875em; }

.text--xs {
  font-size: 0.75em; }

.text--xxs {
  font-size: 0.625em; }

.text-xxxs {
  font-size: 0.5em; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.install {
  padding: 1em 0; }
  .install__logo {
    height: 2em;
    width: 2em;
    margin-bottom: 1em; }

.install-form {
  width: 20em;
  margin: 2em auto; }

.install-message {
  padding: 1em 0;
  width: 20em;
  margin: 0 auto; }

.install-missing {
  padding: 1em 0;
  list-style: circle; }
  .install-missing__item {
    font-size: 0.75em;
    text-align: left; }

/*# sourceMappingURL=app.css.map */
