/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Main reset */
*, *:after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Disable font size adaptation for webkit */
html {
  -webkit-text-size-adjust: 100%; }

/* Normalize search input */
input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Reset general element styles */
strong {
  font-weight: 700; }

a {
  text-decoration: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-color: #F5F5F5;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; }

.scroll-disabled {
  overflow: hidden; }

.activity-feed {
  padding: 0 2em;
  line-height: 1.125em; }
  .activity-feed a {
    color: #F1C40F;
    transition: opacity 250ms; }
  @media screen and (max-width: 47.9375em) {
    .activity-feed {
      padding: 0 1em; } }

.activity {
  border-bottom: 1px solid #E5E7E9;
  padding: 0.5em 0; }
  .activity__actor, .activity__subject {
    display: inline-block;
    vertical-align: top; }
  .activity__subject {
    width: calc(100% - 4em);
    padding-right: 1em;
    padding-bottom: 0.25em; }
  .activity__time {
    color: #95A5A6;
    font-size: 0.75em; }
  .activity__actor {
    padding: 0.25em 1em 0.25em 0; }
    @media screen and (max-width: 31.9375em) {
      .activity__actor {
        padding: 0.25em 0.75em 0.25em 0; } }
  .activity--minor {
    font-size: 0.875em; }
  .activity--empty {
    padding: 4em 2em;
    text-align: center; }

.no-touch .activity-feed a:hover {
  opacity: 0.7; }

.button {
  display: inline-block;
  line-height: 3.33333333em;
  height: 3.33333333em;
  font-size: 0.75em;
  font-weight: 700;
  font-family: "Lato", Helvetica, sans-serif;
  color: #F1C40F;
  padding: 0 3em;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 250ms;
  text-decoration: none; }
  .button--emphasis {
    color: #FFFFFF;
    background-color: #F1C40F; }
  .button--danger {
    color: #FFFFFF;
    background-color: #E74C3C; }
  .button--separated {
    border-left: 1px solid #E5E7E9; }
  .button--action {
    padding: 0 1.5em;
    color: #95A5A6; }
  .button__icon {
    position: relative;
    top: 0.0625em;
    display: inline-block; }
    .button__icon--action {
      top: 0.125em;
      font-size: 1.33333333em; }
    .button__icon--left {
      transform: translateX(-0.75em); }
    .button__icon--right {
      transform: translateX(0.75em); }

.no-touch .button:hover {
  opacity: 0.7; }

.content-list-container {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.25);
  width: calc(100% - 4em);
  margin: 4.25em auto 0; }
  .content-list-container--sub {
    margin-top: 0;
    box-shadow: none; }
  @media screen and (max-width: 47.9375em) {
    .content-list-container {
      padding: 0 0 4em;
      width: 100%; } }

.content-list {
  width: 100%;
  position: relative;
  top: -2.75em; }
  .content-list a {
    display: inline-block;
    color: #5F696A;
    transition: color 250ms; }
  .content-list__checkbox {
    opacity: 0;
    transition: opacity 250ms;
    cursor: pointer; }
    .content-list__checkbox:checked {
      opacity: 1; }
  .content-list__no-results {
    text-align: center;
    padding: 3em 1em; }
  .content-list__row {
    line-height: 1.5em; }
    .content-list__row--body {
      border-bottom: 1px solid #E5E7E9;
      transition: border-bottom-color 250ms, background-color 250ms; }
  .content-list__cell {
    font-size: 0.875em;
    padding: 0.75em 1em 0.75em 0;
    color: #7F8C8D;
    vertical-align: top; }
    .content-list__cell::after {
      clear: both;
      content: "";
      display: table; }
    .content-list__cell--thumbnail {
      width: 4em;
      text-align: center;
      padding-left: 1em; }
    .content-list__cell--options {
      width: 3em;
      padding: 0; }
      .content-list__cell--options .dropdown {
        font-size: 1.14285714em; }
      .content-list__cell--options .dropdown-icon {
        line-height: 3.25em;
        width: 3.5em; }
    .content-list__cell--head {
      padding: 1.2em 1.2em 0.5em 0;
      vertical-align: bottom;
      font-weight: 700;
      font-family: "Lato", Helvetica, sans-serif;
      text-align: left;
      font-size: 0.75em; }

.content-list-container--sub .content-list {
  top: 0; }

.sortable-link--active {
  color: #F1C40F !important; }
  .sortable-link--active:after {
    display: inline-block;
    content: '';
    margin-left: 0.5em;
    margin-bottom: 0.25em;
    height: 0.3em;
    width: 0.6em;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent; }

.sortable-link--asc:after {
  border-bottom: 0.3em solid #F1C40F; }

.sortable-link--desc:after {
  border-top: 0.3em solid #F1C40F; }

.content-footer {
  width: 100%;
  text-align: center;
  background-color: #F1C40F; }
  .content-footer--table {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2.75em;
    padding: 0.125em 1em; }

.pagination-container {
  padding: 0.5em 0; }

.pagination__sibling, .pagination__current-container {
  display: inline-block;
  vertical-align: top;
  transition: opacity 250ms; }

.pagination__sibling {
  padding: 0.0625em 0.5em 0;
  color: #BE9100; }
  .pagination__sibling--disabled {
    color: transparent; }

.pagination__current-container {
  border-radius: 0.5em;
  height: 1.5em;
  line-height: 1.5em;
  color: #FFFFFF;
  background-color: #D8AB00;
  padding: 0 2em;
  position: relative; }

.pagination__current {
  display: inline-block;
  font-size: 0.625em;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 2em;
  vertical-align: text-top; }

.pagination__selector {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10; }

.no-touch .content-list__row--body:hover {
  border-bottom-color: #F1C40F;
  background-color: #FDF8E2; }
  .no-touch .content-list__row--body:hover .content-list__checkbox {
    opacity: 1; }
  .no-touch .content-list__row--body:hover .dropdown-icon {
    color: #F1C40F; }

.no-touch .content-list a:hover {
  color: #F1C40F; }

.no-touch .pagination__sibling:hover, .no-touch .pagination__current-container:hover {
  opacity: 0.75; }

.has-dropdown {
  position: relative;
  text-align: center; }
  .has-dropdown--active .dropdown {
    z-index: 100;
    opacity: 1;
    transition: opacity 250ms; }
  .has-dropdown--active .dropdown-icon {
    color: #F1C40F; }

.dropdown-icon {
  color: #95A5A6;
  display: inline-block;
  cursor: pointer;
  transition: color 250ms;
  background-color: transparent; }

.dropdown {
  position: absolute;
  top: 0.5em;
  right: 3em;
  text-align: left;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms, z-index 0ms ease 300ms;
  box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF; }
  .dropdown__info {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    padding: 1.25em 1.14285714em 0.125em;
    white-space: nowrap;
    background-color: #E5E7E9;
    color: #95A5A6; }

.dropdown-sub {
  border-bottom: 0.25em solid #E5E7E9; }
  .dropdown-sub__splitter {
    margin: 0.125em 0;
    border-top: 1px solid #E5E7E9; }
  .dropdown-sub__item {
    height: 2.5em; }
    .dropdown-sub__item i {
      font-size: 1.14285714em;
      margin: 0 1em;
      color: #95A5A6;
      vertical-align: text-bottom; }
    .dropdown-sub__item a, .dropdown-sub__item button {
      color: #5F696A;
      font-size: 0.875em;
      display: block;
      white-space: nowrap;
      line-height: 2.85714286em;
      padding-right: 1.5em;
      transition: color 250ms;
      background-color: transparent;
      cursor: pointer; }

.no-touch .dropdown-sub__item a:hover, .no-touch .dropdown-sub__item button:hover {
  color: #F1C40F; }

.no-touch .dropdown-sub__item--delete:hover button {
  color: #E74C3C; }

.flash-messages {
  position: fixed;
  top: 3.5em;
  right: 0;
  z-index: 115; }
  @media screen and (max-width: 47.9375em) {
    .flash-messages {
      top: 1.75em; } }

.flash-message {
  font-size: 0.75em;
  padding: 0.66666667em 1.33333333em 0.66666667em 4em;
  min-height: 3.33333333em;
  min-width: 21.33333333em;
  position: relative;
  color: #FFFFFF;
  background-color: #F1C40F;
  margin-bottom: 1.33333333em;
  box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.4);
  transition: opacity 350ms ease 2000ms, left 350ms ease 2000ms; }
  .flash-message--hidden {
    opacity: 0;
    left: 100%; }
  .flash-message__icon {
    font-size: 1.33333333em;
    position: absolute;
    top: 0.75em;
    left: 1em; }
  .flash-message--danger {
    background-color: #E74C3C; }

input:not([type="checkbox"]), textarea {
  width: 100%;
  height: 2.5em;
  background-color: transparent;
  font-size: 1em;
  color: #5F696A;
  outline: none;
  font-family: "Oxygen", Helvetica, sans-serif;
  -webkit-appearance: none;
  border-radius: 0; }
  input:not([type="checkbox"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #95A5A6; }
  input:not([type="checkbox"])::-moz-placeholder, textarea::-moz-placeholder {
    color: #95A5A6; }
  input:not([type="checkbox"]):-moz-placeholder, textarea:-moz-placeholder {
    color: #95A5A6; }
  input:not([type="checkbox"]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #95A5A6; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.content-inner {
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  padding: 3em 2em 3em; }
  .content-inner::after {
    clear: both;
    content: "";
    display: table; }
  .content-inner__heading {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1em; }
  .content-inner__row {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid #E5E7E9; }
  .content-inner--compact {
    padding-top: 1.5em; }
  @media screen and (max-width: 31.9375em) {
    .content-inner {
      padding: 3em 1em 3em; } }

.form-column, .form-group-column {
  float: left;
  vertical-align: top;
  display: inline-block; }

.form-column--full {
  width: 100%; }

.form-column--primary {
  width: 65%; }
  @media screen and (max-width: 47.9375em) {
    .form-column--primary {
      width: 100%; } }

.form-column--secondary {
  width: 35%;
  border-left: 1px solid #E5E7E9;
  background-color: #FAFAFA; }
  @media screen and (max-width: 47.9375em) {
    .form-column--secondary {
      width: 100%;
      border-left: 0;
      border-top: 1px solid #E5E7E9; } }

.form-group-column--field {
  width: 65%; }
  @media screen and (max-width: 31.9375em) {
    .form-group-column--field {
      width: 100%; } }

.form-group-column--help {
  width: 35%;
  font-size: 0.75em;
  color: #7F8C8D;
  padding: 2.75em 0 0 1.33333333em; }
  @media screen and (max-width: 31.9375em) {
    .form-group-column--help {
      display: none; } }

.form-buttons {
  position: fixed;
  right: 2em;
  bottom: 1em;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF; }
  @media screen and (max-width: 31.9375em) {
    .form-buttons {
      right: 1em; } }

.form-group {
  margin: 0.5em 0 1.5em; }
  .form-group::after {
    clear: both;
    content: "";
    display: table; }
  .form-group--inline {
    display: inline-block;
    min-width: 24%; }
  .form-group__errors {
    text-align: right;
    font-size: 0.75em;
    color: #E74C3C;
    padding: 0.25em 0; }
  .form-group__label {
    text-align: left;
    font-size: 0.875em;
    font-weight: 700;
    font-family: "Lato", Helvetica, sans-serif;
    color: #95A5A6;
    transition: color 250ms;
    padding-left: 1em;
    position: relative;
    display: block;
    line-height: 1.25em; }
    .form-group__label:before {
      content: '';
      width: 0.75em;
      height: 1px;
      position: absolute;
      bottom: 0.25em;
      border-bottom: 1px solid #95A5A6;
      left: 0;
      transition: border-bottom-color 250ms; }
    .form-group__label--focus {
      color: #F1C40F; }
      .form-group__label--focus:before {
        border-bottom-color: #F1C40F; }
    .form-group__label--error {
      color: #E74C3C; }
      .form-group__label--error:before {
        border-bottom-color: #E74C3C; }
  .form-group input, .form-group textarea {
    border-bottom: 1px solid #E5E7E9;
    transition: border-bottom 250ms; }
    .form-group input:focus, .form-group textarea:focus {
      border-bottom: 1px solid #F1C40F; }
  .form-group textarea {
    max-width: 28em;
    min-height: 6em;
    resize: vertical; }
  .form-group__select {
    position: relative;
    border-bottom: 1px solid #E5E7E9; }
    .form-group__select i {
      position: absolute;
      top: 0.625em;
      right: 0.375em;
      color: #95A5A6;
      font-size: 0.875em;
      transition: color 250ms; }
    .form-group__select select {
      height: 2em;
      position: relative;
      width: 100%;
      z-index: 1;
      cursor: pointer;
      background: transparent;
      -webkit-appearance: none;
      border: 0;
      box-shadow: none;
      outline: none;
      padding-right: 1.5em;
      font-size: 1em;
      color: #5F696A; }
  .form-group__checkbox span {
    color: #E74C3C;
    transition: color 250ms; }
    .form-group__checkbox span .icon-confirm {
      display: none; }
  .form-group__checkbox input {
    display: none; }
    .form-group__checkbox input:checked + span {
      color: #F1C40F; }
      .form-group__checkbox input:checked + span .icon-confirm {
        display: inline-block; }
      .form-group__checkbox input:checked + span .icon-cancel {
        display: none; }
  .form-group__password {
    background-color: #F5F5F5;
    height: 0.25em;
    opacity: 0.7; }
    .form-group__password .password-strength {
      height: 0.25em;
      width: 0%;
      transition: all 150ms; }
      .form-group__password .password-strength--veryweak {
        background-color: #E74C3C; }
      .form-group__password .password-strength--weak {
        background-color: #e67e22; }
      .form-group__password .password-strength--medium {
        background-color: #F1C40F; }
      .form-group__password .password-strength--strong {
        background-color: #2ecc71; }
  .form-group--error input, .form-group--error textarea {
    border-bottom-color: #E74C3C; }
  .form-group--inverted input, .form-group--inverted textarea, .form-group--inverted .form-group__select {
    border-bottom-color: #95A5A6; }
  .form-group--inverted input:not([type="checkbox"]), .form-group--inverted textarea, .form-group--inverted select {
    color: #FFFFFF; }

.header {
  padding: 2.5em 2em 0; }
  @media screen and (max-width: 47.9375em) {
    .header {
      padding: 0.75em 0 0; }
      .header__headings {
        padding-left: 4.25em;
        padding-right: 1em; } }
  .header__heading {
    margin-bottom: 1.5em; }
    @media screen and (max-width: 31.9375em) {
      .header__heading {
        font-size: 1.75em; } }
  .header__subheading {
    font-size: 0.75em;
    color: #95A5A6;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 700; }
    .header__subheading a {
      color: #F1C40F;
      transition: opacity 250ms; }
  .header__actions {
    margin-bottom: 1.5em; }
    .header__actions::after {
      clear: both;
      content: "";
      display: table; }
  .header__action {
    margin-bottom: 1em;
    transition: opacity 250ms; }
    .header__action--hidden {
      height: 0;
      width: 0;
      opacity: 0;
      overflow: hidden;
      margin: 0; }
    .header__action--bulk form {
      display: inline-block; }
    .header__action--left {
      float: left;
      margin-right: 1em; }
    .header__action--right {
      float: right;
      margin-left: 1em; }
    @media screen and (max-width: 47.9375em) {
      .header__action--secondary {
        display: none; } }
  .header__action-header {
    text-align: center;
    font-size: 0.5em;
    font-weight: 700;
    font-family: "Lato", Helvetica, sans-serif;
    height: 2.5em;
    color: #7F8C8D; }
  .header__action-options {
    background-color: #FFFFFF;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.25);
    height: 2.5em; }
  .header__search {
    width: 16em;
    position: relative; }
    @media screen and (max-width: 31.9375em) {
      .header__search {
        width: 15em; } }
    .header__search i {
      position: absolute;
      top: 0.75em;
      right: 0.75em; }
    .header__search input {
      font-size: 0.75em;
      height: 3.33333333em;
      padding: 0 3.33333333em 0 2em; }

.header-content {
  text-align: center; }
  .header-content__heading {
    font-size: 1.5em; }
  .header-content__hint {
    font-size: 0.75em;
    color: #95A5A6;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 700; }
    .header-content__hint a {
      color: #F1C40F;
      transition: opacity 250ms; }

.no-touch .header__subheading a:hover, .no-touch .header-content__hint a:hover {
  opacity: 0.7; }

.no-touch .header__action--secondary {
  display: none; }

@font-face {
  font-family: 'nuclear-icons';
  src: url("fonts/nuclear-icons.eot?hwfkcb");
  src: url("fonts/nuclear-icons.eot?hwfkcb#iefix") format("embedded-opentype"), url("fonts/nuclear-icons.ttf?hwfkcb") format("truetype"), url("fonts/nuclear-icons.woff?hwfkcb") format("woff"), url("fonts/nuclear-icons.svg?hwfkcb#nuclear-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nuclear-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-anchor:before {
  content: "\e900"; }

.icon-arrow-down:before {
  content: "\e901"; }

.icon-arrow-left:before {
  content: "\e902"; }

.icon-arrow-right:before {
  content: "\e903"; }

.icon-arrow-up:before {
  content: "\e904"; }

.icon-audio:before {
  content: "\e905"; }

.icon-blank:before {
  content: "\e906"; }

.icon-bold:before {
  content: "\e907"; }

.icon-cancel:before {
  content: "\e908"; }

.icon-checkbox-checked:before {
  content: "\e909"; }

.icon-checkbox-intermediate:before {
  content: "\e90a"; }

.icon-checkbox-unchecked:before {
  content: "\e90b"; }

.icon-code:before {
  content: "\e90c"; }

.icon-cog:before {
  content: "\e90d"; }

.icon-cogs:before {
  content: "\e90e"; }

.icon-confirm:before {
  content: "\e90f"; }

.icon-dashboard:before {
  content: "\e910"; }

.icon-document-audio:before {
  content: "\e911"; }

.icon-document-embed:before {
  content: "\e912"; }

.icon-document-excel:before {
  content: "\e913"; }

.icon-document-image:before {
  content: "\e914"; }

.icon-document-pdf:before {
  content: "\e915"; }

.icon-document-powerpoint:before {
  content: "\e916"; }

.icon-document-text:before {
  content: "\e917"; }

.icon-document-upload:before {
  content: "\e918"; }

.icon-document-video:before {
  content: "\e919"; }

.icon-document-word:before {
  content: "\e91a"; }

.icon-document:before {
  content: "\e91b"; }

.icon-documents:before {
  content: "\e91c"; }

.icon-download:before {
  content: "\e91d"; }

.icon-ellipsis-horizontal:before {
  content: "\e91e"; }

.icon-ellipsis-vertical:before {
  content: "\e91f"; }

.icon-envelope:before {
  content: "\e920"; }

.icon-envelopes:before {
  content: "\e921"; }

.icon-eye:before {
  content: "\e922"; }

.icon-facebook:before {
  content: "\e923"; }

.icon-floppy:before {
  content: "\e924"; }

.icon-folder:before {
  content: "\e925"; }

.icon-heading:before {
  content: "\e926"; }

.icon-home:before {
  content: "\e927"; }

.icon-image:before {
  content: "\e928"; }

.icon-indent:before {
  content: "\e929"; }

.icon-italic:before {
  content: "\e92a"; }

.icon-kk:before {
  content: "\e92b"; }

.icon-language:before {
  content: "\e92c"; }

.icon-list-bullet:before {
  content: "\e92d"; }

.icon-list-linear:before {
  content: "\e92e"; }

.icon-list-types:before {
  content: "\e92f"; }

.icon-lock:before {
  content: "\e930"; }

.icon-login:before {
  content: "\e931"; }

.icon-logout:before {
  content: "\e932"; }

.icon-minus:before {
  content: "\e933"; }

.icon-node-child-create:before {
  content: "\e934"; }

.icon-node-tree:before {
  content: "\e935"; }

.icon-outdent:before {
  content: "\e936"; }

.icon-pencil:before {
  content: "\e937"; }

.icon-pipe:before {
  content: "\e938"; }

.icon-plus:before {
  content: "\e939"; }

.icon-profile:before {
  content: "\e93a"; }

.icon-quote:before {
  content: "\e93b"; }

.icon-search:before {
  content: "\e93c"; }

.icon-soundcloud:before {
  content: "\e93d"; }

.icon-status-archived:before {
  content: "\e93e"; }

.icon-status-draft:before {
  content: "\e93f"; }

.icon-status-invisible:before {
  content: "\e940"; }

.icon-status-locked:before {
  content: "\e941"; }

.icon-status-pending:before {
  content: "\e942"; }

.icon-status-publish:before {
  content: "\e943"; }

.icon-status-published:before {
  content: "\e944"; }

.icon-status-withheld:before {
  content: "\e945"; }

.icon-subscript:before {
  content: "\e946"; }

.icon-superscript:before {
  content: "\e947"; }

.icon-sync:before {
  content: "\e948"; }

.icon-tag-create:before {
  content: "\e949"; }

.icon-tag:before {
  content: "\e94a"; }

.icon-tags:before {
  content: "\e94b"; }

.icon-trash:before {
  content: "\e94c"; }

.icon-twitter:before {
  content: "\e94d"; }

.icon-upload:before {
  content: "\e94e"; }

.icon-user-permission:before {
  content: "\e94f"; }

.icon-user-role:before {
  content: "\e950"; }

.icon-user:before {
  content: "\e951"; }

.icon-users:before {
  content: "\e952"; }

.icon-video:before {
  content: "\e953"; }

.icon-vimeo:before {
  content: "\e954"; }

.icon-wrench:before {
  content: "\e955"; }

.icon-youtube:before {
  content: "\e956"; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms, z-index 0ms ease 350ms; }
  .modal--open {
    z-index: 500;
    opacity: 1;
    transition: opacity 300ms; }
  .modal__whiteout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer; }
  .modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2, 2);
    width: 32em;
    max-width: 100%;
    box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.4);
    background-color: #272E36;
    padding: 2em 2em 6em;
    color: #FFFFFF;
    transition: all 300ms;
    opacity: 0;
    cursor: default; }
    .modal__inner--open {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1); }
  .modal__heading {
    font-size: 2em;
    font-weight: 300;
    color: #F1C40F;
    margin-bottom: 1.5em; }

.modal-buttons {
  text-align: right;
  padding: 0 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5em;
  width: 100%; }
  .modal-buttons--separated {
    border-top: 1px solid #333941; }

.navigation-column {
  position: absolute;
  height: 100%;
  top: 0; }
  .navigation-column--modules {
    width: 22em;
    left: 0;
    padding-top: 3.75em;
    padding-bottom: 6.5em; }
    @media screen and (max-width: 31.9375em) {
      .navigation-column--modules {
        width: 17em;
        padding-top: 1em; } }
  .navigation-column--nodes {
    width: 17em;
    left: 5em;
    background-color: #272E36;
    box-shadow: -0.125em 0 0.5em 0 rgba(0, 0, 0, 0.4); }
    @media screen and (max-width: 31.9375em) {
      .navigation-column--nodes {
        left: 4em;
        width: 13em; } }

.scroller--navigation-modules > .ps-scrollbar-y-rail {
  left: 0 !important;
  right: auto !important; }

.navigation-modules {
  width: 5em; }
  @media screen and (max-width: 31.9375em) {
    .navigation-modules {
      width: 4em; } }

.navigation-module {
  margin-bottom: 0.5em; }
  .navigation-module__icon {
    font-size: 1.25em;
    line-height: 2.4em;
    width: 2.4em; }
  .navigation-module__dropdown {
    right: auto;
    top: 0.25em;
    left: 4em;
    background-color: #4A4F55; }
  .navigation-module__info {
    background-color: #333941;
    color: #FFFFFF; }

.navigation-module-sub {
  border-bottom: 0.25em solid #333941; }
  .navigation-module-sub__splitter {
    border-top: 1px solid #333941; }
  .navigation-module-sub__item a {
    color: #FFFFFF; }

.navigation-user {
  margin-top: 0.5em; }
  .navigation-user__avatar {
    display: inline-block;
    height: 2.28571429em;
    width: 2.28571429em;
    border-radius: 50%;
    background-color: #272E36;
    color: #F1C40F;
    overflow: hidden;
    line-height: 2.28571429em;
    cursor: pointer;
    font-size: 0.875em;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
    position: relative; }
    .navigation-user__avatar img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%; }

.navigation-brand {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5em;
  height: 6.5em;
  text-align: center;
  padding-top: 0.25em; }
  @media screen and (max-width: 31.9375em) {
    .navigation-brand {
      width: 4em; } }
  .navigation-brand__nuclear {
    color: #4A4F55;
    display: block;
    position: relative;
    margin-bottom: 1.5em; }
    .navigation-brand__nuclear:after {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1px;
      position: absolute;
      bottom: -1em;
      left: 50%;
      margin-left: -0.5em;
      background-color: #272E36; }
    .navigation-brand__nuclear img {
      width: 1.5em; }
    .navigation-brand__nuclear span {
      display: block;
      font-size: 0.625em;
      line-height: 1em;
      font-family: "Lato", Helvetica, sans-serif;
      font-weight: 700; }
  .navigation-brand__kk {
    display: block;
    color: #4A4F55;
    font-size: 0.875em; }

.navigation-column--nodes {
  padding-top: 7.5em; }

.navigation-column--nodes-multilingual {
  padding-top: 10em; }

.nodes-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #333941; }

.nodes-search {
  background-color: #333941;
  height: 3.5em;
  position: relative; }
  .nodes-search input {
    font-size: 0.875em;
    padding-right: 4.5em;
    padding-left: 2em;
    height: 4em;
    color: #FFFFFF; }
  .nodes-search__label {
    position: absolute;
    top: 0;
    right: 0.25em;
    height: 3.5em;
    width: 3.5em;
    text-align: center;
    line-height: 3.5em;
    color: #95A5A6; }

.nodes-heading {
  margin: 1.5em 0 1em;
  text-align: center;
  position: relative;
  padding: 0 1.5em; }
  @media screen and (max-width: 31.9375em) {
    .nodes-heading {
      margin: 1em 0 0.5em; } }
  .nodes-heading__title {
    color: #F1C40F;
    font-size: 0.875em;
    font-weight: 700;
    font-family: "Lato", Helvetica, sans-serif; }
  .nodes-heading__create {
    position: absolute;
    top: 0;
    right: 1.5em;
    color: #F1C40F;
    transition: opacity 250ms; }

.nodes-tabs {
  height: 2.5em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .nodes-tabs__tab {
    display: inline-block;
    color: #95A5A6;
    font-size: 0.75em;
    padding-top: 0.5em;
    height: 3.33333333em;
    width: 2.66666667em;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer; }
    .nodes-tabs__tab--active {
      color: #F1C40F;
      border-bottom: 0.25em solid #F1C40F; }

.scroller--nodes-lists {
  padding: 0.75em 1em 7.5em; }
  @media screen and (max-width: 31.9375em) {
    .scroller--nodes-lists {
      padding: 0 0.5em 7.5em; } }

.nodes-list-container {
  display: none; }
  .nodes-list-container--active {
    display: block; }

.nodes-list {
  padding-bottom: 1em;
  overflow: visible; }
  .nodes-list > li {
    border-bottom: 1px solid #333941;
    font-size: 0.75em;
    background: transparent !important;
    padding-bottom: 1em !important;
    margin-top: 0.5em; }
    .nodes-list > li:last-child {
      border-bottom: 0; }
  .nodes-list__node {
    padding: 0.5em 0;
    line-height: 1em;
    background: url("../img/pixel.png") 0 0 no-repeat, url("../img/pixel.png") 0 1.125em no-repeat;
    background-size: 1px 100%, 0.75em 1px; }
    .nodes-list__node:last-child {
      background-size: 1px 1.225em, 0.75em 1px;
      background-position: 0 0, 0 1.125em;
      padding-bottom: 0; }
    > .nodes-list__node:first-child {
      background-size: 1px 100%, 0.75em 1px;
      background-position: 0 1.125em, 0 1.125em; }
  .nodes-list__label {
    position: relative; }
  .nodes-list__label-link {
    color: #FFFFFF;
    vertical-align: top;
    width: calc(100% - 4em);
    line-height: 1.25;
    padding-top: 0.0625em;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal; }

.node-children {
  padding-left: 1.25em; }
  .node-children li:first-child {
    padding-top: 1em !important;
    background-position: 0 0, 0 1.625em !important; }
    .node-children li:first-child:only-child {
      background-size: 1px 1.625em, 0.75em 1px !important;
      background-position: 0 0, 0 1.625em !important; }

.node-icon {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin: 0.25em 0.5em 0em 0.75em;
  vertical-align: top;
  cursor: move; }
  .node-icon--home {
    margin: 0.25em 0.5em 0em 0.6em;
    width: 1.15em; }
  .node-icon--intersection {
    border-radius: 50%;
    border: 1px solid #95A5A6; }
  .node-icon--hides-children {
    position: relative; }
    .node-icon--hides-children:after, .node-icon--hides-children:before {
      content: '';
      border-radius: 50%;
      border: 1px solid #95A5A6;
      height: 1em;
      width: 1em;
      position: absolute;
      top: 0;
      left: -0.2em;
      z-index: 49;
      vertical-align: top;
      display: inline-block; }
    .node-icon--hides-children:after {
      left: 0.2em;
      z-index: 50; }

.navigation-nodes-blackout {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: z-index 0ms ease 400ms, opacity 350ms; }
  .navigation-nodes-blackout--active {
    z-index: 100;
    opacity: 1;
    transition: opacity 350ms; }

.no-touch .nodes-header__create:hover {
  opacity: 0.7; }

.progress {
  padding: 0.75em 1em;
  text-align: center; }
  .progress__item {
    display: inline-block;
    height: 0.625em;
    width: 0.625em;
    border-radius: 50%;
    border: 1px solid #95A5A6;
    margin: 0 0.5em;
    vertical-align: top; }
    .progress__item--complete {
      border: 0;
      background-color: #333941; }
    .progress__item--active {
      border: 0;
      background-color: #F1C40F; }

.tabs-outer {
  text-align: center; }
  .tabs-outer--children {
    background-color: #F1C40F; }
  .tabs-outer--separated {
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.2); }

.tabs {
  padding: 0 2em;
  display: inline-block;
  vertical-align: bottom; }
  .tabs::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 31.9375em) {
    .tabs {
      padding: 0 1em; } }
  .tabs__flap {
    display: inline-block;
    float: left; }
  .tabs__link {
    font-size: 0.75em;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 700;
    color: #95A5A6;
    transition: color 250ms, border-bottom-color 250ms;
    border: 0.5em solid transparent;
    display: inline-block;
    padding: 0.5em 1.5em 0.5em; }
    .tabs__link--active {
      border-bottom-color: #F1C40F !important;
      color: #F1C40F !important; }

.no-touch .tabs__link:hover {
  color: #7F8C8D;
  border-bottom-color: #E5E7E9; }

body {
  font-family: "Oxygen", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #5F696A; }

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 300; }

.text--sm {
  font-size: 0.875em; }

.text--xs {
  font-size: 0.75em; }

.text--xxs {
  font-size: 0.625em; }

.text-xxxs {
  font-size: 0.5em; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.text--danger {
  color: #E74C3C; }

.text--emphasis {
  color: #F1C40F; }

.dialog-container {
  width: 100%;
  height: 100vh;
  background: url("../img/line-diagonal.png") repeat center center;
  position: relative; }
  .dialog-container--xl {
    min-width: 48em;
    min-height: 40em; }
  .dialog-container--large {
    min-width: 48em;
    min-height: 32em; }
  .dialog-container--small {
    min-width: 20em;
    min-height: 29em; }

.dialog {
  background-color: #272E36;
  color: #FFFFFF;
  box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em 2.5em; }
  .dialog__logo {
    height: 2em;
    width: 2em;
    margin-bottom: 1em; }
  .dialog--xl {
    width: 48em;
    height: 40em; }
  .dialog--large {
    width: 48em;
    height: 32em; }
  .dialog--small {
    width: 20em;
    height: 29em;
    padding: 1em 0 2.5em; }

.scroller {
  position: relative;
  height: 100%; }

.container-main {
  padding-left: 22em;
  overflow-x: hidden;
  height: 100%; }
  @media screen and (max-width: 47.9375em) {
    .container-main {
      padding-left: 0; } }

.container-navigation {
  width: 22em;
  background-color: #1D232A;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  color: #FFFFFF; }
  @media screen and (max-width: 47.9375em) {
    .container-navigation {
      transition: all 350ms;
      left: -12em; }
      .container-navigation--slide {
        transform: translateX(12em); } }
  @media screen and (max-width: 31.9375em) {
    .container-navigation {
      width: 17em; } }

.hamburger {
  display: inline-block;
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  text-align: center;
  color: #5F696A;
  line-height: 2em;
  z-index: -1;
  opacity: 0; }
  @media screen and (max-width: 47.9375em) {
    .hamburger {
      z-index: 130;
      opacity: 1;
      transition: color 250ms, z-index 0ms ease 350ms, opacity 250ms ease 350ms; }
      .hamburger--open {
        transition: color 250ms;
        z-index: -1;
        opacity: 0; } }

.container-content {
  position: relative;
  z-index: 110;
  background-color: #F5F5F5;
  min-height: 100vh; }
  @media screen and (max-width: 47.9375em) {
    .container-content {
      transition: all 350ms;
      box-shadow: -0.125em 0 0.5em 0 rgba(0, 0, 0, 0.4); }
      .container-content--slide {
        transform: translateX(22em); } }
  @media screen and (max-width: 31.9375em) {
    .container-content--slide {
      transform: translateX(17em); } }

.content-whiteout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: opacity 350ms, z-index 0 ease 400ms; }
  @media screen and (max-width: 47.9375em) {
    .content-whiteout--active {
      z-index: 120;
      opacity: 1;
      transition: opacity 350ms; } }

.content {
  padding-bottom: 3em; }

.no-touch .hamburger:hover {
  color: #F1C40F; }

.auth {
  padding: 1em 0; }

.auth-message {
  min-height: 3em; }

.form-group-auth {
  margin: 0 0 0.25em;
  background-color: #333941;
  position: relative; }
  .form-group-auth i {
    color: #95A5A6;
    position: absolute;
    top: 1em;
    right: 1.75em;
    display: inline-block;
    height: 1em;
    width: 1em; }
  .form-group-auth input {
    padding: 0 3em 0 1.75em;
    line-height: 3em;
    height: 3em;
    color: #FFFFFF; }

.auth-buttons {
  padding: 1.375em 0; }
  .auth-buttons__button {
    width: 50%; }
    .auth-buttons__button--full {
      width: 100%; }

.install {
  padding: 1em 0; }

.install-form {
  width: 20em;
  margin: 2em auto; }

.install-message {
  padding: 1em 0;
  width: 20em;
  margin: 0 auto; }

.install-missing {
  padding: 1em 0;
  list-style: circle; }
  .install-missing__item {
    font-size: 0.75em;
    text-align: left; }

.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none; }

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important; } }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  cursor: pointer; }

.ps-container.ps-in-scrolling {
  pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  opacity: 1;
  height: 0.5625em; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  opacity: 1;
  width: 0.5625em; }

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  transition: background-color 250ms, opacity 250ms, height 250ms, width 250ms;
  bottom: 0px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 0.375em; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #4A4F55;
  transition: background-color 250ms, height 250ms, width 250ms;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 100%; }

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  transition: background-color 250ms, opacity 250ms, height 250ms, width 250ms;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 0.375em; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #4A4F55;
  transition: background-color 250ms, height 250ms, width 250ms;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 100%; }

.ps-container:hover.ps-in-scrolling {
  pointer-events: none; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 1; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  opacity: 1;
  height: 0.5625em; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  opacity: 1;
  width: 0.5625em; }

/*# sourceMappingURL=app.css.map */
