.container
    width: 100%
    max-width: 84em
    margin: auto

    &.container-main
        padding-left: 22.5em
        position: relative

        @media screen and (max-width: $collapseThreshold)
            padding-left: 0

.blackout
    +position(fixed, 0 null null 0)
    +size(100%)
    background-color: rgba(16, 35, 36, 0.9)
    opacity: 0
    z-index: -1
    +transition(opacity $animationNav, z-index 0 ease $animationNav)


.container-navigation
    width: 22.5em
    position: fixed
    left: calc(50% - 42em)
    top: 0
    height: 100%
    z-index: 100
    padding-top: 4em

    @media screen and (max-width: $shrinkThreshold)
        left: 0

    @media screen and (max-width: $collapseThreshold)
        left: -20em
        +transition(all $animationNav)
        padding-top: 0
        width: 20em
        background-color: $lightGray-3
        opacity: 0

        &.open
            +transform(translateX(20em))
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5)
            opacity: 1

            & + .blackout
                opacity: 1
                z-index: 99
                +transition(opacity $animationNav)

.container-content
    width: 100%
    padding-bottom: 8em

.container-fullscreen
    +position(absolute, 0 null null 0)
    +size(100%)


.content-main
    padding: 0 2em 2em

.dialog-static
    +position(absolute, 0 0 0 0)
    margin: auto