/* Colors */
$lightGray-1: #FAFAFA
$lightGray-2: #F5F5F5

$midGray-1: #BDC3C7

$darkGray-1: #5F696A
$darkGray-2: #404647

$accent: #E74C3C
$secondaryAccent: #3498DB

$success: #2ECC71
$successHover: darken($success, 5%)

$error: #E74C3C
$errorHover: darken($error, 5%)

$notification: #3498DB
$notificationHover: darken($notification, 5%)

/* Fonts */
$fontDefault: 'Oxygen', sans-serif
$fontHeading: 'Lato', sans-serif

/* Animation */
$animationFast: 200ms
$animationNav: 300ms

/* Thresholds */
$shrinkThreshold: 1184px
$collapseThreshold: 992px