.chart
    background-color: $colorEmphasis
    color: $colorLightText
    padding-bottom: 1em

    &__info
        text-align: center
        font-size: 0.5em
        color: $colorEmphasisDarker
        font-family: $fontHeading
        font-weight: $fontWeightBold
        margin-bottom: 1em