@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?38238624');
  src: url('../font/fontello.eot?38238624#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?38238624') format('woff'),
       url('../font/fontello.ttf?38238624') format('truetype'),
       url('../font/fontello.svg?38238624#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?38238624#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-docs:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-down-dir:before { content: '\e80b'; } /* '' */
.icon-left-dir:before { content: '\e80c'; } /* '' */
.icon-right-dir:before { content: '\e80d'; } /* '' */
.icon-up-dir:before { content: '\e80e'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e811'; } /* '' */
.icon-up-open-big:before { content: '\e812'; } /* '' */
.icon-gauge:before { content: '\e813'; } /* '' */
.icon-flow-cascade:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-trash:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-gplus:before { content: '\e81b'; } /* '' */
.icon-list:before { content: '\e81c'; } /* '' */
.icon-floppy:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */
.icon-tag:before { content: '\e81f'; } /* '' */
.icon-link:before { content: '\e820'; } /* '' */
.icon-linkedin:before { content: '\e821'; } /* '' */
.icon-picture:before { content: '\e822'; } /* '' */
.icon-instagram:before { content: '\e823'; } /* '' */
.icon-language:before { content: '\e824'; } /* '' */
.icon-code:before { content: '\e825'; } /* '' */
.icon-quote-left:before { content: '\e826'; } /* '' */
.icon-file-pdf:before { content: '\e827'; } /* '' */
.icon-file-word:before { content: '\e828'; } /* '' */
.icon-doc:before { content: '\e829'; } /* '' */
.icon-file-excel:before { content: '\e82a'; } /* '' */
.icon-file-powerpoint:before { content: '\e82b'; } /* '' */
.icon-file-image:before { content: '\e82c'; } /* '' */
.icon-file-archive:before { content: '\e82d'; } /* '' */
.icon-file-audio:before { content: '\e82e'; } /* '' */
.icon-file-video:before { content: '\e82f'; } /* '' */
.icon-file-code:before { content: '\e830'; } /* '' */
.icon-folder-empty:before { content: '\e831'; } /* '' */
.icon-bold:before { content: '\e832'; } /* '' */
.icon-italic:before { content: '\e833'; } /* '' */
.icon-header:before { content: '\e834'; } /* '' */
.icon-indent-left:before { content: '\e835'; } /* '' */
.icon-indent-right:before { content: '\e836'; } /* '' */
.icon-list-bullet:before { content: '\e837'; } /* '' */
.icon-ellipsis:before { content: '\e838'; } /* '' */
.icon-eye-1:before { content: '\e839'; } /* '' */
.icon-resize-full:before { content: '\e83a'; } /* '' */
.icon-upload-cloud:before { content: '\e83b'; } /* '' */
.icon-list-add:before { content: '\e83c'; } /* '' */
.icon-ellipsis-vert:before { content: '\e83d'; } /* '' */
.icon-lock:before { content: '\e83e'; } /* '' */