@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?27307513');
    src: url('../font/fontello.eot?27307513#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?27307513') format('woff2'),
    url('../font/fontello.woff?27307513') format('woff'),
    url('../font/fontello.ttf?27307513') format('truetype'),
    url('../font/fontello.svg?27307513#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?27307513#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-picture:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-eye-off:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-quote-left:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-doc:before { content: '\e807'; } /* '' */
.icon-file-pdf:before { content: '\e808'; } /* '' */
.icon-file-word:before { content: '\e809'; } /* '' */
.icon-file-excel:before { content: '\e80a'; } /* '' */
.icon-file-powerpoint:before { content: '\e80b'; } /* '' */
.icon-file-image:before { content: '\e80c'; } /* '' */
.icon-file-archive:before { content: '\e80d'; } /* '' */
.icon-file-audio:before { content: '\e80e'; } /* '' */
.icon-file-video:before { content: '\e80f'; } /* '' */
.icon-file-code:before { content: '\e810'; } /* '' */
.icon-folder-empty:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-resize-full:before { content: '\e813'; } /* '' */
.icon-resize-vertical:before { content: '\e814'; } /* '' */
.icon-resize-horizontal:before { content: '\e815'; } /* '' */
.icon-arrows-cw:before { content: '\e816'; } /* '' */
.icon-bold:before { content: '\e817'; } /* '' */
.icon-italic:before { content: '\e818'; } /* '' */
.icon-header:before { content: '\e819'; } /* '' */
.icon-indent-left:before { content: '\e81a'; } /* '' */
.icon-indent-right:before { content: '\e81b'; } /* '' */
.icon-list-bullet:before { content: '\e81c'; } /* '' */
.icon-crop:before { content: '\e81d'; } /* '' */
.icon-ellipsis:before { content: '\e81e'; } /* '' */
.icon-ellipsis-vert:before { content: '\e81f'; } /* '' */
.icon-youtube-play:before { content: '\e820'; } /* '' */
.icon-search:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-user:before { content: '\e823'; } /* '' */
.icon-users:before { content: '\e824'; } /* '' */
.icon-user-add:before { content: '\e825'; } /* '' */
.icon-menu:before { content: '\e826'; } /* '' */
.icon-check:before { content: '\e827'; } /* '' */
.icon-cancel:before { content: '\e828'; } /* '' */
.icon-plus:before { content: '\e829'; } /* '' */
.icon-minus:before { content: '\e82a'; } /* '' */
.icon-home:before { content: '\e82b'; } /* '' */
.icon-lock:before { content: '\e82c'; } /* '' */
.icon-lock-open:before { content: '\e82d'; } /* '' */
.icon-upload-cloud:before { content: '\e82e'; } /* '' */
.icon-reply:before { content: '\e82f'; } /* '' */
.icon-forward:before { content: '\e830'; } /* '' */
.icon-pencil:before { content: '\e831'; } /* '' */
.icon-trash:before { content: '\e832'; } /* '' */
.icon-docs:before { content: '\e833'; } /* '' */
.icon-newspaper:before { content: '\e834'; } /* '' */
.icon-archive:before { content: '\e835'; } /* '' */
.icon-box:before { content: '\e836'; } /* '' */
.icon-login:before { content: '\e837'; } /* '' */
.icon-logout:before { content: '\e838'; } /* '' */
.icon-block:before { content: '\e839'; } /* '' */
.icon-publish:before { content: '\e83a'; } /* '' */
.icon-down-open-big:before { content: '\e83b'; } /* '' */
.icon-left-open-big:before { content: '\e83c'; } /* '' */
.icon-right-open-big:before { content: '\e83d'; } /* '' */
.icon-up-open-big:before { content: '\e83e'; } /* '' */
.icon-down-dir:before { content: '\e83f'; } /* '' */
.icon-left-dir:before { content: '\e840'; } /* '' */
.icon-right-dir:before { content: '\e841'; } /* '' */
.icon-up-dir:before { content: '\e842'; } /* '' */
.icon-down-thin:before { content: '\e843'; } /* '' */
.icon-left-thin:before { content: '\e844'; } /* '' */
.icon-right-thin:before { content: '\e845'; } /* '' */
.icon-up-thin:before { content: '\e846'; } /* '' */
.icon-ccw:before { content: '\e847'; } /* '' */
.icon-cw:before { content: '\e848'; } /* '' */
.icon-list:before { content: '\e849'; } /* '' */
.icon-list-add:before { content: '\e84a'; } /* '' */
.icon-language:before { content: '\e84b'; } /* '' */
.icon-floppy:before { content: '\e84c'; } /* '' */
.icon-flow-cascade:before { content: '\e84d'; } /* '' */
.icon-gauge:before { content: '\e84e'; } /* '' */
.icon-vimeo:before { content: '\e84f'; } /* '' */
.icon-twitter:before { content: '\e850'; } /* '' */
.icon-facebook:before { content: '\e851'; } /* '' */
.icon-gplus:before { content: '\e852'; } /* '' */
.icon-linkedin:before { content: '\e853'; } /* '' */
.icon-instagram:before { content: '\e854'; } /* '' */
.icon-soundcloud:before { content: '\e855'; } /* '' */
.icon-exchange:before { content: '\e856'; } /* '' */
.icon-ok-circled:before { content: '\e857'; } /* '' */
.icon-cancel-circled:before { content: '\e858'; } /* '' */
.icon-tags:before { content: '\e859'; } /* '' */
.icon-clock:before { content: '\e85a'; } /* '' */
.icon-dot-circled:before { content: '\e85b'; } /* '' */
.icon-circle-empty:before { content: '\e85c'; } /* '' */
.icon-flow-branch:before { content: '\e85d'; } /* '' */
.icon-flow-tree:before { content: '\e85e'; } /* '' */
.icon-tools:before { content: '\e85f'; } /* '' */
.icon-flow-line:before { content: '\e860'; } /* '' */
.icon-flow-parallel:before { content: '\e861'; } /* '' */
.icon-cog:before { content: '\e862'; } /* '' */
.icon-cog-alt:before { content: '\e863'; } /* '' */
.icon-superscript:before { content: '\e864'; } /* '' */
.icon-subscript:before { content: '\e865'; } /* '' */
.icon-globe:before { content: '\e866'; } /* '' */