@font-face {
    font-family: 'nuclear-icons';
    src:  url('fonts/nuclear-icons.eot?pplup8');
    src:  url('fonts/nuclear-icons.eot?pplup8#iefix') format('embedded-opentype'),
    url('fonts/nuclear-icons.ttf?pplup8') format('truetype'),
    url('fonts/nuclear-icons.woff?pplup8') format('woff'),
    url('fonts/nuclear-icons.svg?pplup8#nuclear-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nuclear-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-anchor:before {
    content: "\e900";
}
.icon-arrow-down:before {
    content: "\e901";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-arrow-up:before {
    content: "\e904";
}
.icon-audio:before {
    content: "\e905";
}
.icon-blank:before {
    content: "\e906";
}
.icon-blur:before {
    content: "\e907";
}
.icon-bold:before {
    content: "\e908";
}
.icon-cancel:before {
    content: "\e909";
}
.icon-ccw:before {
    content: "\e90a";
}
.icon-checkbox-checked:before {
    content: "\e90b";
}
.icon-checkbox-intermediate:before {
    content: "\e90c";
}
.icon-checkbox-unchecked:before {
    content: "\e90d";
}
.icon-checkerboard:before {
    content: "\e90e";
}
.icon-code:before {
    content: "\e90f";
}
.icon-cog:before {
    content: "\e910";
}
.icon-cogs:before {
    content: "\e911";
}
.icon-columns:before {
    content: "\e912";
}
.icon-confirm:before {
    content: "\e913";
}
.icon-crop:before {
    content: "\e914";
}
.icon-cw:before {
    content: "\e915";
}
.icon-dashboard:before {
    content: "\e916";
}
.icon-document-audio:before {
    content: "\e917";
}
.icon-document-embed:before {
    content: "\e918";
}
.icon-document-excel:before {
    content: "\e919";
}
.icon-document-image:before {
    content: "\e91a";
}
.icon-document-pdf:before {
    content: "\e91b";
}
.icon-document-powerpoint:before {
    content: "\e91c";
}
.icon-document-text:before {
    content: "\e91d";
}
.icon-document-upload:before {
    content: "\e91e";
}
.icon-document-video:before {
    content: "\e91f";
}
.icon-document-word:before {
    content: "\e920";
}
.icon-document:before {
    content: "\e921";
}
.icon-documents:before {
    content: "\e922";
}
.icon-download:before {
    content: "\e923";
}
.icon-ellipsis-horizontal:before {
    content: "\e924";
}
.icon-ellipsis-vertical:before {
    content: "\e925";
}
.icon-envelope:before {
    content: "\e926";
}
.icon-envelopes:before {
    content: "\e927";
}
.icon-expand:before {
    content: "\e928";
}
.icon-eye:before {
    content: "\e929";
}
.icon-facebook:before {
    content: "\e92a";
}
.icon-flip-horizontal:before {
    content: "\e92b";
}
.icon-flip-vertical:before {
    content: "\e92c";
}
.icon-floppy:before {
    content: "\e92d";
}
.icon-folder:before {
    content: "\e92e";
}
.icon-hamburger:before {
    content: "\e92f";
}
.icon-heading:before {
    content: "\e930";
}
.icon-home:before {
    content: "\e931";
}
.icon-image:before {
    content: "\e932";
}
.icon-indent:before {
    content: "\e933";
}
.icon-italic:before {
    content: "\e934";
}
.icon-kk:before {
    content: "\e935";
}
.icon-language:before {
    content: "\e936";
}
.icon-list-add:before {
    content: "\e937";
}
.icon-list-bullet:before {
    content: "\e938";
}
.icon-list-linear:before {
    content: "\e939";
}
.icon-list-number:before {
    content: "\e93a";
}
.icon-list-types:before {
    content: "\e93b";
}
.icon-lock:before {
    content: "\e93c";
}
.icon-login:before {
    content: "\e93d";
}
.icon-logout:before {
    content: "\e93e";
}
.icon-minus:before {
    content: "\e93f";
}
.icon-node-child-create:before {
    content: "\e940";
}
.icon-node-move:before {
    content: "\e941";
}
.icon-node-transform:before {
    content: "\e942";
}
.icon-node-tree:before {
    content: "\e943";
}
.icon-outdent:before {
    content: "\e944";
}
.icon-pencil:before {
    content: "\e945";
}
.icon-pipe:before {
    content: "\e946";
}
.icon-plus:before {
    content: "\e947";
}
.icon-profile:before {
    content: "\e948";
}
.icon-quote:before {
    content: "\e949";
}
.icon-search:before {
    content: "\e94a";
}
.icon-sharpen:before {
    content: "\e94b";
}
.icon-soundcloud:before {
    content: "\e94c";
}
.icon-status-archived:before {
    content: "\e94d";
}
.icon-status-draft:before {
    content: "\e94e";
}
.icon-status-info:before {
    content: "\e94f";
}
.icon-status-invisible:before {
    content: "\e950";
}
.icon-status-locked:before {
    content: "\e951";
}
.icon-status-notice:before {
    content: "\e952";
}
.icon-status-pending:before {
    content: "\e953";
}
.icon-status-publish:before {
    content: "\e954";
}
.icon-status-published:before {
    content: "\e955";
}
.icon-status-unlocked:before {
    content: "\e956";
}
.icon-status-visible:before {
    content: "\e957";
}
.icon-status-withheld:before {
    content: "\e958";
}
.icon-strikethrough:before {
    content: "\e959";
}
.icon-subscript:before {
    content: "\e95a";
}
.icon-superscript:before {
    content: "\e95b";
}
.icon-sync:before {
    content: "\e95c";
}
.icon-table:before {
    content: "\e95d";
}
.icon-tag-create:before {
    content: "\e95e";
}
.icon-tag:before {
    content: "\e95f";
}
.icon-tags:before {
    content: "\e960";
}
.icon-trash:before {
    content: "\e961";
}
.icon-twitter:before {
    content: "\e962";
}
.icon-unlock-copy:before {
    content: "\e963";
}
.icon-unlock:before {
    content: "\e964";
}
.icon-upload:before {
    content: "\e965";
}
.icon-user-create:before {
    content: "\e966";
}
.icon-user-permission:before {
    content: "\e967";
}
.icon-user-role:before {
    content: "\e968";
}
.icon-user:before {
    content: "\e969";
}
.icon-users:before {
    content: "\e96a";
}
.icon-video:before {
    content: "\e96b";
}
.icon-vimeo:before {
    content: "\e96c";
}
.icon-wrench:before {
    content: "\e96d";
}
.icon-youtube:before {
    content: "\e96e";
}