.advanced-options
    .advanced-options-set
        border-bottom: 1px solid $lightGray-3
        margin-bottom: 2em

        h3
            margin-bottom: 0.5em
            font-size: 1.75em
            color: $darkGray-2

            &.success
                color: $successHover
            &.warning
                color: $errorHover

        h4
            margin: 1.5em 0 0.5em
            font-size: 1.25em
            font-weight: 700

        &:last-child
            border-bottom: 0
            margin-bottom: 0

.advanced-option-description
    margin-bottom: 2em
    line-height: 1.5em
    color: $darkGray-1

    &.warn
        color: #e67e22

    strong
        font-weight: 700
        color: $successHover

        &.warn
            color: $darkGray-2

.advanced-options-set
    .control-label
        margin-bottom: 0.5em

    .button
        width: auto
        min-width: 100%
        text-align: center

        i
            display: none

.updater-progress
    height: 3em
    width: 100%
    background-color: $lightGray-3
    margin-top: 1em

    .progress-bar
        background-color: $notification
        height: 100%
        width: 10%
        +transition(width $animationNav, background-color $animationNav)

        &.complete
            background-color: $success