$subcollapseThreshold: 40em

.document-list
    +clearfix
    margin-top: 3em

    .document
        float: left
        display: inline-block
        margin: 0 1.1% 1.5em 0
        width: 15.75%
        position: relative

        &:nth-child(6n)
            margin-right: 0

    @media screen and (max-width: 72em)
        .document, .document:nth-child(6n)
            margin-right: 1.25%
        .document
            width: 19%
            &:nth-child(5n)
                margin-right: 0

    @media screen and (max-width: 48em)
        .document, .document:nth-child(5n)
            margin-right: 1.33333333%
        .document
            width: 24%
            &:nth-child(4n)
                margin-right: 0

    @media screen and (max-width: 30em)
        .document, .document:nth-child(4n)
            margin-right: 2%
        .document
            width: 32%
            &:nth-child(3n)
                margin-right: 0

.document-thumbnail
    width: 100%
    padding-top: 100%
    position: relative

    img, i
        +position(absolute, 0 null null 0)
        width: 100%

    i
        text-align: center
        display: block
        top: 50%
        font-size: 3em
        line-height: 1em
        margin-top: -0.25em
        color: $darkGray-1

.document-name
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 100%
    font-size: 0.625em
    line-height: 4em
    background-color: $lightGray-1
    padding: 0 4.25em 0 0.5em
    position: relative

.document-options
    +position(absolute, null 0 0 null)
    font-size: 0.875em
    display: block
    +size(2.85714286em)

    a
        color: $darkGray-2

    .list-header
        line-height: 2.35em

    .content-item-options-button
        color: $midGray-3
        padding-left: 0
        padding-right: 0
        text-align: center

.document-preview
    text-align: center
    margin-bottom: 2em

    *
        max-width: 100%
        vertical-align: bottom
        max-height: 56.25%

.document-image-options
    text-align: center
    padding-bottom: 0.5em
    border-bottom: 1px solid $lightGray-3
    margin-bottom: 1em

    li
        display: inline-block

    button.disabled
        opacity: 0.5
        color: $darkGray-2
        cursor: default

.document-edit-container
    text-align: center
    background-color: $darkGray-2

    form
        display: none

.document-edit-image
    width: 30em
    display: inline-block
    vertical-align: bottom

    .cropper-container
        background-image: none

    & > img
        max-width: 100%

.library-modal-dropzone
    z-index: -10
    +position(absolute, 0 null null 0)
    +size(100%)
    border: 2em solid rgba(46, 204, 113, 0.8em)
    background-color: rgba(46, 204, 113, 0.8em)
    color: $lightGray-1
    display: table
    opacity: 0
    +transition(opacity $animationModal, z-index 0ms ease $animationModal)

    p
        display: table-cell
        +size(100%)
        vertical-align: middle
        text-align: center
        font-size: 2em
        padding: 1em
        line-height: 1.25em

        i
            font-size: 3em

    &.dragenter
        opacity: 1
        z-index: 200
        +transition(opacity $animationModal)
        cursor: copy

.library-modal
    +position(absolute, 2em 2em 2em 2em)
    background-color: darken($darkGray-2, 15%)
    color: $lightGray-1
    margin: auto
    opacity: 0
    +transform(scale(1.5, 1.5))
    +transition(all $animationModal)

    @media screen and (max-width: $collapseThreshold)
        +position(absolute, 1em 1em 1em 1em)
    @media screen and (max-width: $microThreshold)
        +position(absolute, 0 0 0 0)

    .open &
        +transform(scale(1, 1))
        opacity: 1

.library-modal-header
    position: relative
    border-bottom: 1px solid $darkGray-1

    h2
        text-align: left
        color: $midGray-3
        font-size: 1.25em
        line-height: 1.5em
        margin-bottom: 0
        padding: 0.5em 1em
        font-family: $fontHeading
        display: none

        @media screen and (max-width: $collapseThreshold)
            font-size: 1em

.library-modal-close
    display: block
    +position(absolute, 0 0 null null)
    cursor: pointer
    font-size: 1.25em
    color: $darkGray-1
    +transition(color $animationFast)

    i
        display: inline-block
        +size(2.5em)
        line-height: 2.5em
        text-align: center

        @media screen and (max-width: $collapseThreshold)
            +size(2em)
            line-height: 2em

.library-modal-columns
    +position(absolute, 3.125em 0 3.5em 0)
    margin: auto

    @media screen and (max-width: $collapseThreshold)
        top: 2.5em

.library-modal-column
    display: none
    overflow: hidden
    vertical-align: top

    h3
        text-align: left
        font-size: 1.75em
        line-height: 1.5em
        color: $success
        font-family: $fontHeading
        padding: 0.25em 0

        @media screen and (max-width: $collapseThreshold)
            font-size: 1.5em
        @media screen and (max-width: $microThreshold)
            font-size: 1em

.column-media-list
    padding: 0 0.75em
    width: calc(100% - 24em)
    height: 100%
    position: relative
    display: inline-block

    h3
        color: $midGray-3
        text-align: right
        padding: 0.25em 0.1428em 0

    @media screen and (max-width: $collapseThreshold)
        width: calc(100% - 17em)

    @media screen and (max-width: $subcollapseThreshold)
        width: calc(100% - 14em)

    @media screen and (max-width: $microThreshold)
        width: 100%

.column-media-gallery, .column-media-detail
    width: 24em
    background-color: darken($darkGray-2, 10%)
    padding: 0 1em
    height: 100%
    border-top: 1px solid $darkGray-1

    @media screen and (max-width: $collapseThreshold)
        width: 17em

    @media screen and (max-width: $subcollapseThreshold)
        width: 14em

    @media screen and (max-width: $microThreshold)
        width: calc(50% - 3em)

.library-modal-scroll-button
    display: none
    width: 4.36363635em
    text-align: center
    height: 100%
    vertical-align: top
    cursor: pointer
    background-color: transparent
    color: $midGray-1

    &.right
        border-left: 1px solid $darkGray-1
    &.left
        border-right: 1px solid $darkGray-2

    i
        position: relative
        top: 50%
        display: block
        height: 2em
        line-height: 2em
        +transform(translateY(-1em))

.library-modal-search
    max-width: 20em
    width: 100%
    float: right
    padding: 0 0.25em

    .form-group
        margin-bottom: 0.5em

        &.focus .icon-label
            color: $success !important

        input
            color: $midGray-1

            +placeholder
                color: $darkGray-1

        input:focus
            border-bottom-color: $success

.library-modal-media-list
    +clearfix
    width: calc(100% - 2.5em)

    li
        float: left
        width: 16.66666667%
        padding: 0.25em
        position: relative
        cursor: pointer

        @media screen and (max-width: $collapseThreshold)
            width: 25%

        @media screen and (max-width: $subcollapseThreshold)
            width: 33.33333333%

        @media screen and (max-width: $microThreshold)
            width: 25%

        .document-thumbnail
            background-color: darken($darkGray-2, 16.5%)
            opacity: 1
            +transition(opacity $animationNav)
            position: relative

            i
                color: $midGray-3
                margin-top: -0.5em

            .progress
                background-color: $success
                opacity: 0.7
                +position(absolute, 50% null null 50%)
                +transform(translate(-50%, -50%))
                +transition(all $animationFast)

        i.icon-check
            +position(absolute, 0.5em 0.5em null null)
            border-radius: 50%
            overflow: hidden
            display: inline-block
            +size(1.5em)
            background-color: $success
            color: $lightGray-1
            opacity: 0
            line-height: 1.5em
            text-align: center
            +transition(opacity $animationNav)

        p
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap
            font-size: 0.75em
            padding: 0.5em 0 1em
            color: $darkGray-1
            +transition(color $animationNav)

        &.selected
            img
                opacity: 0.25
            p
                color: $success
            i
                opacity: 1

        &.filtered, &.searched
            display: none

.scroller-container-library
    position: relative
    width: 100%
    height: calc(100% - 7em)
    overflow: hidden

.scroller-library
    overflow: auto
    +position(absolute, 0 -2.5em 0 0)
    -webkit-overflow-scrolling: touch

.library-modal-disabler, .library-modal-noresults
    display: table
    z-index: -1
    +position(absolute, 0 0 0 0)
    +size(100%)
    margin: auto
    opacity: 0
    +transition(opacity $animationNav)

    &.active
        z-index: 20
        opacity: 1

.library-modal-noresults
    div
        display: table-cell
        +size(100%)
        vertical-align: middle
        padding: 0 1em
        text-align: center
        color: $lightGray-1

        h4
            font-size: 1.25em
            margin-bottom: 0.25em

.library-modal-disabler
    background: url(../img/nuclear-loading.svg) no-repeat center center

.library-modal-gallery-hint
    height: 2.75em
    line-height: 1.25em
    color: $midGray-3

.library-modal-gallery-sortable

    li
        width: 25%
        display: inline-block
        position: relative
        cursor: move

        &.placeholder
            padding-top: 25%
            background-color: $darkGray-1

        &.ui-sortable-helper i
            display: none

        i
            +position(absolute, 0 0 null null)
            +size(2em)
            line-height: 2em
            color: $lightGray-1
            background-color: rgba(64, 70, 71, 0.8)
            opacity: 1
            cursor: pointer
            text-align: center

        @media screen and (max-width: $collapseThreshold)
            width: 33.33333333%
            &.placeholder
                padding-top: 33.33333333%
        @media screen and (max-width: $subcollapseThreshold)
            width: 50%
            &.placeholder
                padding-top: 50%
        @media screen and (max-width: $microThreshold)
            width: 33.33333333%
            &.placeholder
                padding-top: 33.33333333%

.library-modal-media-detail
    .library-modal-media-tag
        display: none

    .library-modal-media-none
        text-align: center
        padding: 2.5em 1em

    .media-name
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        padding-bottom: 0.5em

    .media-detail
        font-size: 0.75em
        color: $midGray-3
        padding-bottom: 1em

    &.selected
        .library-modal-media-tag
            display: block
        .library-modal-media-none
            display: none


.library-modal-footer
    +position(absolute, null null 0 0)
    border-top: 1px solid $darkGray-1
    padding: 0.5em 1em
    width: 100%
    height: 3.5em

    .button
        float: right
        min-width: 10em

    .library-modal-gallery-selected
        float: left
        line-height: 1.5em
        display: none

        a
            color: $accent

.library-modal-mode-document
    .library-modal-heading-document
        display: block
    .column-media-detail
        display: inline-block

    @media screen and (max-width: $microThreshold)
        .column-media-list
            height: calc(100% - 3.125em)
        .column-media-detail
            width: 100%
            display: block
            height: 3.125em
            padding: 0

            .media-name
                padding-bottom: 0.25em

            .media-thumbnail
                float: left
                +size(3.125em)

                i
                    font-size: 1.25em
                    top: 0
                    line-height: 2.5em
                    border-right: 1px solid $darkGray-2
                    margin-top: 0

            .media-name-tag
                width: calc(100% - 3.125em)
                display: inline-block
                padding: 0.5em 1em

            h3
                display: none

.library-modal-mode-gallery
    .library-modal-heading-gallery
        display: block
    .column-media-gallery
        display: inline-block
    .library-modal-gallery-selected
        display: block
    #library-modal-remove
        display: none

    @media screen and (max-width: $microThreshold)
        .library-modal-scroll-button
            display: inline-block

        .column-media-list
            width: calc(50% - 3em)

        .library-modal-columns
            width: 200%
            +transform(translateX(0))
            +transition(all $animationModal)

            &.scrolled
                +transform(translateX(-50%))

.no-touch
    .library-modal-close:hover
        color: $midGray-3

    .library-modal-media-list li:hover
        .document-thumbnail
            opacity: 0.5

    .library-modal-gallery-sortable li
        i
            opacity: 0
            +transition(opacity $animationFast)
        &:hover i
            opacity: 1

    .library-modal-footer .library-modal-gallery-selected a:hover
        color: $errorHover
