.document-list
    +clearfix
    margin-top: 3em

    .document
        float: left
        display: inline-block
        margin: 0 1.1% 1.5em 0
        width: 15.75%
        position: relative

        &:nth-child(6n)
            margin-right: 0

    @media screen and (max-width: 72em)
        .document, .document:nth-child(6n)
            margin-right: 1.25%
        .document
            width: 19%
            &:nth-child(5n)
                margin-right: 0

    @media screen and (max-width: 48em)
        .document, .document:nth-child(5n)
            margin-right: 1.33333333%
        .document
            width: 24%
            &:nth-child(4n)
                margin-right: 0

    @media screen and (max-width: 30em)
        .document, .document:nth-child(4n)
            margin-right: 2%
        .document
            width: 32%
            &:nth-child(3n)
                margin-right: 0

.document-thumbnail
    width: 100%
    padding-top: 100%
    position: relative

    img, i
        +position(absolute, 0 null null 0)
        width: 100%

    i
        text-align: center
        display: block
        top: 50%
        font-size: 3em
        line-height: 1em
        margin-top: -0.25em
        color: $darkGray-1

.document-name
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 100%
    font-size: 0.625em
    line-height: 4em
    background-color: $lightGray-1
    padding: 0 4.25em 0 0.5em
    position: relative

.document-options
    +position(absolute, null 0 0 null)
    font-size: 0.875em
    display: block
    +size(2.85714286em)

    a
        color: $darkGray-2

    .list-header
        line-height: 2.35em

    .content-item-options-button
        color: $midGray-3
        padding-left: 0
        padding-right: 0
        text-align: center

.document-preview
    text-align: center
    margin-bottom: 2em

    img, iframe
        max-width: 100%
        vertical-align: bottom
        max-height: 56.25%

.document-image-options
    text-align: center
    padding-bottom: 0.5em
    border-bottom: 1px solid $lightGray-3
    margin-bottom: 1em

    li
        display: inline-block

    button.disabled
        opacity: 0.5
        color: $darkGray-2
        cursor: default

.document-edit-container
    text-align: center
    background-color: $darkGray-2

    form
        display: none

.document-edit-image
    width: 30em
    display: inline-block
    vertical-align: bottom

    .cropper-container
        background-image: none

    & > img
        max-width: 100%