@charset "UTF-8";
/* Components */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?5077464");
  src: url("../font/fontello.eot?5077464#iefix") format("embedded-opentype"), url("../font/fontello.woff?5077464") format("woff"), url("../font/fontello.ttf?5077464") format("truetype"), url("../font/fontello.svg?5077464#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5077464#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search:before {
  content: '\e800'; }

/* '' */
.icon-mail:before {
  content: '\e801'; }

/* '' */
.icon-user:before {
  content: '\e802'; }

/* '' */
.icon-users:before {
  content: '\e803'; }

/* '' */
.icon-user-add:before {
  content: '\e804'; }

/* '' */
.icon-home:before {
  content: '\e805'; }

/* '' */
.icon-menu:before {
  content: '\e806'; }

/* '' */
.icon-check:before {
  content: '\e807'; }

/* '' */
.icon-cancel:before {
  content: '\e808'; }

/* '' */
.icon-docs:before {
  content: '\e809'; }

/* '' */
.icon-cog:before {
  content: '\e80a'; }

/* '' */
.icon-down-dir:before {
  content: '\e80b'; }

/* '' */
.icon-left-dir:before {
  content: '\e80c'; }

/* '' */
.icon-right-dir:before {
  content: '\e80d'; }

/* '' */
.icon-up-dir:before {
  content: '\e80e'; }

/* '' */
.icon-down-open-big:before {
  content: '\e80f'; }

/* '' */
.icon-left-open-big:before {
  content: '\e810'; }

/* '' */
.icon-right-open-big:before {
  content: '\e811'; }

/* '' */
.icon-up-open-big:before {
  content: '\e812'; }

/* '' */
.icon-gauge:before {
  content: '\e813'; }

/* '' */
.icon-flow-cascade:before {
  content: '\e814'; }

/* '' */
.icon-plus:before {
  content: '\e815'; }

/* '' */
.icon-minus:before {
  content: '\e816'; }

/* '' */
.icon-eye:before {
  content: '\e817'; }

/* '' */
.icon-pencil:before {
  content: '\e818'; }

/* '' */
.icon-trash:before {
  content: '\e819'; }

/* '' */
.icon-facebook:before {
  content: '\e81a'; }

/* '' */
.icon-gplus:before {
  content: '\e81b'; }

/* '' */
.icon-list:before {
  content: '\e81c'; }

/* '' */
.icon-floppy:before {
  content: '\e81d'; }

/* '' */
.icon-twitter:before {
  content: '\e81e'; }

/* '' */
.icon-tag:before {
  content: '\e81f'; }

/* '' */
.icon-link:before {
  content: '\e820'; }

/* '' */
.icon-linkedin:before {
  content: '\e821'; }

/* '' */
.icon-picture:before {
  content: '\e822'; }

/* '' */
.icon-instagram:before {
  content: '\e823'; }

/* '' */
.icon-language:before {
  content: '\e824'; }

/* '' */
.icon-code:before {
  content: '\e825'; }

/* '' */
.icon-quote-left:before {
  content: '\e826'; }

/* '' */
.icon-file-pdf:before {
  content: '\e827'; }

/* '' */
.icon-file-word:before {
  content: '\e828'; }

/* '' */
.icon-doc:before {
  content: '\e829'; }

/* '' */
.icon-file-excel:before {
  content: '\e82a'; }

/* '' */
.icon-file-powerpoint:before {
  content: '\e82b'; }

/* '' */
.icon-file-image:before {
  content: '\e82c'; }

/* '' */
.icon-file-archive:before {
  content: '\e82d'; }

/* '' */
.icon-file-audio:before {
  content: '\e82e'; }

/* '' */
.icon-file-video:before {
  content: '\e82f'; }

/* '' */
.icon-file-code:before {
  content: '\e830'; }

/* '' */
.icon-folder-empty:before {
  content: '\e831'; }

/* '' */
.icon-bold:before {
  content: '\e832'; }

/* '' */
.icon-italic:before {
  content: '\e833'; }

/* '' */
.icon-header:before {
  content: '\e834'; }

/* '' */
.icon-indent-left:before {
  content: '\e835'; }

/* '' */
.icon-indent-right:before {
  content: '\e836'; }

/* '' */
.icon-list-bullet:before {
  content: '\e837'; }

/* '' */
.icon-ellipsis:before {
  content: '\e838'; }

/* '' */
.icon-eye-1:before {
  content: '\e839'; }

/* '' */
.icon-resize-full:before {
  content: '\e83a'; }

/* '' */
.icon-upload-cloud:before {
  content: '\e83b'; }

/* '' */
.icon-list-add:before {
  content: '\e83c'; }

/* '' */
.icon-ellipsis-vert:before {
  content: '\e83d'; }

/* '' */
.icon-lock:before {
  content: '\e83e'; }

/* '' */
.icon-newspaper:before {
  content: '\e83f'; }

/* '' */
.icon-logout:before {
  content: '\e840'; }

/* '' */
.icon-login:before {
  content: '\e841'; }

/* '' */
.icon-up-thin:before {
  content: '\e842'; }

/* '' */
.icon-right-thin:before {
  content: '\e843'; }

/* '' */
.icon-left-thin:before {
  content: '\e844'; }

/* '' */
.icon-down-thin:before {
  content: '\e845'; }

/* '' */
/* Reset */
/* Main reset */
*, *:after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Disable font size adaptation for webkit */
html {
  -webkit-text-size-adjust: 100%; }

img {
  max-width: 100%; }

/* Normalize search input */
input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Helpers */
/* Colors */
/* Fonts */
/* Animation */
/* Thresholds */
/* Base */
body {
  font-size: 1em;
  font-family: "Oxygen", sans-serif;
  color: #404647;
  background-color: #F5F5F5; }

a {
  text-decoration: none;
  color: #3498DB;
  transition: color 200ms; }

.disable-scroll {
  overflow: hidden; }

.no-touch a:hover {
  color: #217dbb; }

.container {
  width: 100%;
  max-width: 84em;
  margin: auto; }
  .container.container-main {
    padding-left: 22.5em;
    position: relative; }
    @media screen and (max-width: 64em) {
      .container.container-main {
        padding-left: 0; } }

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 70, 71, 0.9);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms, z-index 0 ease 250ms; }

.container-navigation {
  width: 22.5em;
  position: fixed;
  left: calc(50% - 42em);
  top: 0;
  height: 100%;
  z-index: 100;
  padding-top: 4em; }
  @media screen and (max-width: 84em) {
    .container-navigation {
      left: 0; } }
  @media screen and (max-width: 64em) {
    .container-navigation {
      left: -20em;
      transition: -webkit-transform 250ms;
      transition: transform 250ms;
      padding-top: 0;
      width: 20em;
      background-color: #ECF0F1; }
      .container-navigation.open {
        -webkit-transform: translateX(20em);
        transform: translateX(20em);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
        .container-navigation.open + .blackout {
          opacity: 1;
          z-index: 99;
          transition: opacity 250ms; } }

.container-content {
  width: 100%; }

.container-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.content-main {
  padding: 0 2em 2em; }

.dialog-static {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

/* Modules */
.button {
  line-height: 2.85714286em;
  height: 2.85714286em;
  padding: 0 1.75em;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  background-color: transparent;
  color: #3498DB;
  cursor: pointer;
  display: inline-block; }

.button-icon {
  padding-right: 1.25em; }

.button-emphasized {
  background-color: #2ECC71;
  color: #FAFAFA;
  transition: background-color 200ms; }

.button-icon-primary {
  width: 6em;
  text-align: center;
  font-size: 1em;
  line-height: 2.5em;
  height: 2.5em; }

.no-touch .button-emphasized:hover {
  background-color: #29b765;
  color: #FAFAFA; }

.content-options::after {
  clear: both;
  content: "";
  display: table; }

.content-search {
  float: left;
  position: relative; }
  @media screen and (max-width: 30em) {
    .content-search {
      width: 100%; } }
  .content-search i {
    position: absolute;
    display: block;
    font-size: 1.25em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #7F8C8D; }
  .content-search .search-input {
    width: 100%;
    font-size: 0.75em;
    padding-left: 3.33333333em;
    padding-right: 1em;
    height: 3.33333333em;
    min-width: 22em; }

.content-search-emphasized {
  padding: 0 1em 0 0; }
  @media screen and (max-width: 64em) {
    .content-search-emphasized {
      padding-left: 1em; } }
  .content-search-emphasized .form-group {
    max-width: 30em; }
  .content-search-emphasized p {
    margin-bottom: 0.25em;
    color: #5F696A; }
    .content-search-emphasized p.muted {
      font-size: 0.75em;
      color: #7F8C8D; }

.content-tabs-bar {
  text-align: center;
  background-color: #3498DB;
  white-space: nowrap;
  overflow: auto;
  padding: 0 1.5em;
  height: 3em; }
  .content-tabs-bar li {
    display: inline-block;
    font-family: "Lato", sans-serif;
    line-height: 2.5em; }
  .content-tabs-bar .content-tab-flap {
    padding: 0.33333em 1.5em 0;
    display: block;
    font-size: 0.75em;
    line-height: 3.33333333em;
    border-bottom: 0.33333333em solid transparent;
    color: #a0cfee;
    font-weight: 700; }
    .content-tabs-bar .content-tab-flap.active {
      border-bottom-color: #217dbb;
      color: #FAFAFA; }

.content-list-container {
  margin-top: 4.25em;
  position: relative; }
  .content-list-container a {
    color: #404647;
    display: inline-block; }

.content-list {
  width: 100%;
  position: relative;
  top: -2.75em; }
  .content-list tr {
    line-height: 1.5em; }
  .content-list td, .content-list th {
    font-size: 0.875em;
    padding: 0.75em 1em 0.75em 0;
    color: #7F8C8D;
    vertical-align: top; }
    .content-list td::after, .content-list th::after {
      clear: both;
      content: "";
      display: table; }
  .content-list th {
    padding: 1em 1em 0.5em 0;
    vertical-align: bottom;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-align: left; }
    .content-list th a.active {
      color: #3498DB; }
      .content-list th a.active:after {
        display: inline-block;
        border-left: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
        content: '';
        height: 0.3em;
        width: 0.6em;
        margin-left: 0.5em;
        margin-bottom: 0.25em; }
      .content-list th a.active.asc:after {
        border-bottom: 0.3em solid #3498DB; }
      .content-list th a.active.desc:after {
        border-top: 0.3em solid #3498DB; }

.content-list-sub-container {
  padding: 2em;
  margin-top: 0; }
  @media screen and (max-width: 64em) {
    .content-list-sub-container {
      padding: 1.5em; } }

.content-list-sub {
  top: 0;
  margin-top: 0; }
  .content-list-sub td, .content-list-sub th {
    padding-left: 1em; }
  .content-list-sub .content-body {
    border-top: 1px solid #ECF0F1; }

.content-item, .content-noresults {
  border-bottom: 1px solid #ECF0F1; }

.content-item-thumbnail {
  width: 4em;
  text-align: center;
  vertical-align: middle !important;
  padding-right: 0 !important; }

.content-item-options {
  width: 3em;
  text-align: center;
  padding: 0 !important;
  position: relative; }

.content-item-options-button {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  text-align: center;
  padding: 0.75em 1em;
  opacity: 0; }

.content-item-options-list {
  position: absolute;
  top: 2em;
  right: 1em;
  min-width: 16em;
  opacity: 0;
  z-index: -1;
  padding-bottom: 0.25em; }
  .content-item-options-list li {
    text-align: left; }
  .content-item-options-list .list-header {
    padding: 0.75em 1.5em 0;
    font-size: 0.75em;
    color: #7F8C8D;
    font-family: "Lato", sans-serif; }
  .content-item-options-list a, .content-item-options-list button, .content-item-options-list .disabled {
    display: block;
    line-height: 2.85714286em;
    padding: 0 1em; }
  .content-item-options-list button {
    background-color: transparent;
    font-size: inherit;
    color: #404647;
    cursor: pointer;
    width: 100%;
    text-align: left; }
  .content-item-options-list .disabled {
    color: #95A5A6;
    text-decoration: line-through; }
  .content-item-options-list .option-delete {
    transition: color 200ms; }

.content-noresults {
  padding: 3em 1em !important;
  font-size: 1.25em !important;
  text-align: center; }

.content-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.125em 0.25em;
  width: 100%;
  text-align: center; }
  .content-footer::after {
    clear: both;
    content: "";
    display: table; }
  .content-footer .pager li {
    display: inline-block;
    font-size: 1.25em;
    min-width: 2em;
    text-align: center;
    line-height: 2em;
    vertical-align: text-top; }
    .content-footer .pager li span {
      display: block; }
  .content-footer .pager .pager-indicator {
    padding: 0 0.5em;
    font-family: "Lato", sans-serif; }
    .content-footer .pager .pager-indicator span {
      font-size: 0.6em; }
  .content-footer .pager .disabled {
    color: #95A5A6; }

@media screen and (max-width: 64em) {
  .content-column-hidden {
    display: none; } }

.no-touch .content-tabs-bar .content-tab-flap:hover {
  color: #FAFAFA; }

.no-touch .content-item-options .content-item-options-list .option-delete:hover {
  color: #E74C3C; }

.no-touch .content-item-options:hover .content-item-options-list {
  opacity: 1;
  z-index: 30;
  transition: opacity 200ms; }

.no-touch .content-item:hover {
  background-color: #F5F5F5; }
  .no-touch .content-item:hover .content-item-options-button {
    opacity: 1; }

.no-touch .content-list-container a:hover {
  color: #3498DB; }

.alert {
  margin-bottom: 2em;
  padding: 1em 1.5em;
  background-color: #7F8C8D !important;
  color: #FAFAFA; }

.alert-info {
  background-color: #3498DB !important; }

.alert-success {
  background-color: #2ECC71 !important; }

.alert-danger {
  background-color: #E74C3C !important; }

input:not([type="checkbox"]) {
  width: 100%;
  height: 2.5em;
  background-color: transparent;
  font-size: 1em;
  color: #404647;
  outline: none;
  font-family: "Oxygen", sans-serif;
  -webkit-appearance: none;
  border-radius: 0; }
  input:not([type="checkbox"])::-webkit-input-placeholder {
    color: #BDC3C7; }
  input:not([type="checkbox"])::-moz-placeholder {
    color: #BDC3C7; }
  input:not([type="checkbox"]):-moz-placeholder {
    color: #BDC3C7; }
  input:not([type="checkbox"]):-ms-input-placeholder {
    color: #BDC3C7; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-group {
  margin-bottom: 1em; }
  .form-group::after {
    clear: both;
    content: "";
    display: table; }
  .form-group .control-label {
    font-size: 0.875em;
    font-weight: 700;
    color: #5F696A;
    transition: color 200ms;
    padding-left: 0.75em; }
  .form-group.focus .control-label {
    color: #3498DB; }
  .form-group input {
    border-bottom: 1px solid #BDC3C7;
    transition: border-bottom 200ms; }
    .form-group input:focus {
      border-bottom: 1px solid #3498DB; }
  .form-group.error input {
    border-bottom-color: #E74C3C; }
  .form-group.error .control-label {
    color: #E74C3C; }

.form-group-content {
  margin-bottom: 1.5em; }
  .form-group-content input {
    height: 2em; }

.form-group-column {
  float: left; }

.form-group-column-field {
  width: 65%; }
  @media screen and (max-width: 30em) {
    .form-group-column-field {
      width: 100%; } }

.form-group-errors {
  color: #E74C3C;
  padding: 0.25em 0;
  font-size: 0.75em;
  font-family: "Lato", sans-serif; }
  .form-group-errors li {
    padding: 0.25em 0; }

.form-group-column-help {
  width: 35%;
  padding: 2.75em 0 0 1.5em;
  font-size: 0.75em;
  color: #BDC3C7; }
  @media screen and (max-width: 30em) {
    .form-group-column-help {
      display: none; } }

.form-group-password .strength-meter {
  background-color: #ECF0F1;
  height: 0.25em; }
  .form-group-password .strength-meter div {
    height: 0.25em;
    width: 0%;
    transition: all 150ms; }
  .form-group-password .strength-meter .veryweak {
    background-color: #E74C3C; }
  .form-group-password .strength-meter .weak {
    background-color: #e67e22; }
  .form-group-password .strength-meter .medium {
    background-color: #f1c40f; }
  .form-group-password .strength-meter .strong {
    background-color: #2ECC71; }

.form-group-icon-label .icon-label {
  float: right;
  color: #BDC3C7;
  display: inline-block;
  width: 2em;
  text-align: center;
  font-size: 1.25em;
  line-height: 2em;
  transition: color 200ms; }

.form-group-icon-label input {
  float: right;
  width: calc(100% - 2.5em); }
  .form-group-icon-label input:focus + .icon-label {
    color: #3498DB; }

.content-form {
  padding: 6em 2em 3em; }
  @media screen and (max-width: 64em) {
    .content-form {
      padding: 5em 1.5em 2em; } }
  @media screen and (max-width: 30em) {
    .content-form {
      padding: 4em 1em 1em; } }

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #5F696A; }

.header {
  padding: 3em 0 2em; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 64em) {
    .header {
      padding: 1.5em 0 1em 4em; } }
  .header h3 {
    font-family: "Lato", sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    color: #BDC3C7;
    position: relative;
    z-index: 10; }
  .header h1 {
    font-size: 2em;
    color: #7F8C8D; }
    @media screen and (max-width: 64em) {
      .header h1 {
        font-size: 1.5em; } }

.header-headings {
  float: left;
  padding-bottom: 0.5em; }

.header-action {
  float: right;
  margin-top: 0.5em;
  margin-left: 1em; }

.content-header {
  padding: 2em 1em;
  text-align: center; }
  .content-header h4 {
    font-size: 1.5em;
    color: #5F696A;
    margin-bottom: 0.25em; }
    @media screen and (max-width: 64em) {
      .content-header h4 {
        font-size: 1.25em; } }
  .content-header p {
    font-size: 0.875em;
    color: #BDC3C7; }

.material-light {
  background-color: #FAFAFA;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.material-middle {
  background-color: #FAFAFA;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3); }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 400ms, z-index 0ms ease 400ms; }
  .modal-container.open {
    z-index: 110;
    opacity: 1;
    transition: opacity 400ms; }
    .modal-container.open .blackout {
      opacity: 1;
      z-index: 110;
      transition: opacity 400ms; }

.modal {
  background-color: #FAFAFA;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
  transform: translate(-50%, -50%) scale(1.2, 1.2);
  transition: all 400ms;
  opacity: 0;
  width: 100%;
  max-width: 36em;
  padding: 1.5em 2em 0; }
  .open .modal {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
    z-index: 100; }
  .modal .modal-content {
    padding: 2.5em 0; }
    @media screen and (max-width: 64em) {
      .modal .modal-content {
        padding: 1.25em 0; } }
  .modal .modal-buttons {
    text-align: right;
    padding-bottom: 1em; }
  .modal h4 {
    font-size: 2em;
    line-height: 1.25em;
    font-family: "Lato", sans-serif; }
  .modal.modal-notice h4 {
    color: #3498DB; }
  .modal.modal-error h4 {
    color: #E74C3C; }
  .modal.model-success h4 {
    color: #2ECC71; }
  @media screen and (max-width: 64em) {
    .modal {
      padding: 1em 1em 0; }
      .modal h4 {
        font-size: 1.5em; } }

@media screen and (max-width: 64em) {
  .scroll-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .scroller {
    overflow: auto;
    position: absolute;
    top: 0;
    right: -2.5em;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch; } }

.navigation-tab {
  display: inline-block;
  height: 100%;
  vertical-align: top; }
  @media screen and (max-width: 64em) {
    .navigation-tab {
      position: absolute;
      top: 3.5em;
      left: 0;
      height: calc(100% - 3.5em);
      opacity: 0;
      z-index: -1;
      background-color: #FAFAFA; }
      .navigation-tab.active {
        z-index: 100;
        opacity: 1; } }

.navigation-modules {
  width: 4em;
  padding: 0 0.5em; }
  @media screen and (max-width: 64em) {
    .navigation-modules {
      width: 100%;
      padding: 0.25em 0; } }

.navigation-modules-list {
  width: 3em;
  margin: 0; }
  .navigation-modules-list li {
    padding: 0 0.25em; }
  @media screen and (max-width: 64em) {
    .navigation-modules-list {
      width: 20em;
      padding: 0; } }

.navigation-module {
  border-bottom: 1px solid #ECF0F1;
  text-align: center;
  position: relative;
  margin-bottom: 0.5em; }
  .navigation-module.module-hidden {
    display: none; }
  .navigation-module i {
    color: #95A5A6;
    font-size: 1.25em;
    line-height: 2.8em;
    display: inline-block;
    cursor: pointer; }
  @media screen and (max-width: 64em) {
    .navigation-module {
      margin-bottom: 0;
      border-bottom: 0; }
      .navigation-module > i {
        display: none; }
      .navigation-module.module-hidden-collapse {
        display: none; }
      .navigation-module.module-hidden {
        display: block; } }
  .navigation-module .module-dropdown {
    position: absolute;
    top: 0.5em;
    left: 3em;
    text-align: left;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms, z-index 0ms ease 250ms; }
    @media screen and (max-width: 64em) {
      .navigation-module .module-dropdown {
        position: static;
        opacity: 1;
        box-shadow: none; } }
  .navigation-module .module-sub {
    border-bottom: 0.5em solid #ECF0F1; }
    @media screen and (max-width: 64em) {
      .navigation-module .module-sub {
        border-bottom: 0; } }
    .navigation-module .module-sub a {
      color: #95A5A6;
      display: block;
      padding: 0 1.5em 0 0.5em;
      white-space: nowrap; }
      @media screen and (max-width: 64em) {
        .navigation-module .module-sub a {
          line-height: 3em; } }
      .navigation-module .module-sub a i {
        font-size: 1em;
        width: 2.5em;
        color: inherit;
        text-align: center;
        line-height: 2em; }

.module-info {
  background-color: #ECF0F1;
  font-size: 0.875em;
  padding: 1em 2em 0.5em 1em;
  white-space: nowrap;
  font-family: "Lato", sans-serif; }

.navigation-user {
  border-bottom: 0;
  padding: 0.25em 0.5em !important;
  margin-top: 1em;
  margin-bottom: 3em; }
  .navigation-user .module-dropdown {
    top: 0em; }
  @media screen and (max-width: 64em) {
    .navigation-user {
      padding: 0;
      margin: 0; } }

.navigation-user-frame {
  display: block;
  height: 2.28571em;
  width: 2.28571em;
  border-radius: 50%;
  background-color: #95A5A6;
  color: #FAFAFA;
  overflow: hidden;
  line-height: 2.28571429em;
  cursor: pointer;
  font-size: 0.875em;
  font-family: "Lato", sans-serif; }
  @media screen and (max-width: 64em) {
    .navigation-user-frame {
      display: none; } }

.navigation-version {
  text-align: center;
  border-bottom: 0; }
  .navigation-version img {
    width: 2em; }
  .navigation-version a, .navigation-version a:hover {
    color: #BDC3C7;
    font-size: 0.75em; }

.hamburger {
  font-size: 1.75em;
  height: 2em;
  width: 2em;
  position: fixed;
  top: 0.4em;
  left: 0.225em;
  background-color: transparent;
  opacity: 0.25;
  cursor: pointer;
  display: none;
  transition: opacity 200ms;
  z-index: 99; }
  @media screen and (max-width: 64em) {
    .hamburger {
      display: inline-block; } }

.navigation-tabs {
  height: calc(3.5em);
  border-bottom: 1px solid #BDC3C7;
  padding-left: 1em;
  display: none; }
  @media screen and (max-width: 64em) {
    .navigation-tabs {
      display: block; } }
  .navigation-tabs li {
    float: left;
    height: 2.25em;
    width: 2.4em;
    margin-top: 0.55em;
    text-align: center;
    font-size: 1.25em;
    line-height: 2.25em;
    color: #95A5A6;
    cursor: pointer;
    transition: color 200ms;
    border: 1px solid transparent; }
    .navigation-tabs li.active {
      border: 1px solid #BDC3C7;
      border-bottom: 1px solid #FAFAFA;
      background-color: #FAFAFA;
      color: #5F696A; }

.navigation-close {
  position: absolute;
  top: 0.25em;
  right: 0.1em;
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  background-color: transparent;
  display: none;
  color: #7F8C8D;
  cursor: pointer; }
  @media screen and (max-width: 64em) {
    .navigation-close {
      display: inline-block; } }

.touch .navigation-module .module-sub a {
  color: #5F696A; }

.no-touch .navigation-module > i, .no-touch .navigation-module > a > i {
  transition: color 250ms; }

.no-touch .navigation-module .module-sub a:hover {
  color: #E74C3C; }

.no-touch .navigation-module:hover > i, .no-touch .navigation-module:hover > a > i {
  color: #E74C3C; }

.no-touch .navigation-module:hover .module-dropdown {
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms; }

.no-touch .hamburger:hover {
  opacity: 0.5; }

.no-touch .navigation-tabs li:hover {
  color: #5F696A; }

.navigation-nodes {
  width: 17em; }
  @media screen and (max-width: 64em) {
    .navigation-nodes {
      width: 100%; } }
  .navigation-nodes .navigation-nodes-container {
    height: 100%;
    width: 100%;
    padding: 0.5em 1em 0; }
    @media screen and (max-width: 64em) {
      .navigation-nodes .navigation-nodes-container {
        box-shadow: none; } }
  .navigation-nodes #search-nodes {
    border-bottom: 1px solid #BDC3C7;
    padding-bottom: 0.5em; }
    .navigation-nodes #search-nodes input[type="search"] {
      font-size: 0.75em;
      width: calc(100% - 3.33333333em);
      float: right;
      height: 3.33333333em; }
      .navigation-nodes #search-nodes input[type="search"]:focus + .icon-label {
        color: #4e5758; }
    .navigation-nodes #search-nodes .icon-label {
      font-size: 1.25em;
      display: inline-block;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      color: #7F8C8D;
      transition: color 200ms; }
  .navigation-nodes .nodes-header {
    text-align: center;
    padding-top: 1.5em;
    position: relative; }
    .navigation-nodes .nodes-header h2 {
      font-size: 1.25em;
      color: #7F8C8D;
      position: relative; }
      .navigation-nodes .nodes-header h2:after {
        position: absolute;
        bottom: -0.25em;
        left: 50%;
        margin-left: -0.875em;
        width: 1.75em;
        height: 1px;
        content: '';
        border-bottom: 1px solid #ECF0F1; }
    .navigation-nodes .nodes-header a {
      position: absolute;
      top: 0.875em;
      right: 0;
      font-size: 1.5em;
      color: #BDC3C7; }

.no-touch .navigation-nodes .nodes-header a:hover {
  color: #7F8C8D; }

/* Pages */
.auth-dialog {
  width: 20em;
  height: 26em;
  padding: 0 1em; }
  .auth-dialog .auth-logo {
    text-align: center;
    padding: 1em 0 0; }
    .auth-dialog .auth-logo img {
      height: 3em;
      width: 3em; }
  .auth-dialog h2 {
    margin-top: 0.5em; }
  .auth-dialog .auth-error, .auth-dialog .auth-success {
    color: #E74C3C;
    padding: 0.5em;
    line-height: 1.25em;
    height: 3.5em; }
  .auth-dialog .auth-success {
    color: #2ECC71; }
  .auth-dialog form {
    padding: 0.5em 1em 1.25em 0; }
    .auth-dialog form.auth-form-space {
      padding-top: 4em; }
  .auth-dialog .auth-buttons::after {
    clear: both;
    content: "";
    display: table; }
  .auth-dialog .auth-buttons button {
    float: right; }
  .auth-dialog .auth-remember-check {
    display: block;
    float: left; }
    .auth-dialog .auth-remember-check span {
      transition: color 200ms;
      color: #E74C3C; }
      .auth-dialog .auth-remember-check span .icon-check {
        display: none; }
    .auth-dialog .auth-remember-check input {
      display: none; }
      .auth-dialog .auth-remember-check input:checked + span {
        color: #2ECC71; }
        .auth-dialog .auth-remember-check input:checked + span .icon-check {
          display: inline; }
        .auth-dialog .auth-remember-check input:checked + span .icon-cancel {
          display: none; }
  .auth-dialog .auth-option {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #F5F5F5; }

.texture-overlay {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/line_diagonal2.png") repeat center center; }

/*# sourceMappingURL=app.css.map */