@charset "UTF-8";
/* Components */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?51843617");
  src: url("../font/fontello.eot?51843617#iefix") format("embedded-opentype"), url("../font/fontello.woff?51843617") format("woff"), url("../font/fontello.ttf?51843617") format("truetype"), url("../font/fontello.svg?51843617#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?51843617#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search:before {
  content: '\e800'; }

/* '' */
.icon-mail:before {
  content: '\e801'; }

/* '' */
.icon-user:before {
  content: '\e802'; }

/* '' */
.icon-users:before {
  content: '\e803'; }

/* '' */
.icon-user-add:before {
  content: '\e804'; }

/* '' */
.icon-home:before {
  content: '\e805'; }

/* '' */
.icon-menu:before {
  content: '\e806'; }

/* '' */
.icon-check:before {
  content: '\e807'; }

/* '' */
.icon-cancel:before {
  content: '\e808'; }

/* '' */
.icon-docs:before {
  content: '\e809'; }

/* '' */
.icon-cog:before {
  content: '\e80a'; }

/* '' */
.icon-down-dir:before {
  content: '\e80b'; }

/* '' */
.icon-left-dir:before {
  content: '\e80c'; }

/* '' */
.icon-right-dir:before {
  content: '\e80d'; }

/* '' */
.icon-up-dir:before {
  content: '\e80e'; }

/* '' */
.icon-down-open-big:before {
  content: '\e80f'; }

/* '' */
.icon-left-open-big:before {
  content: '\e810'; }

/* '' */
.icon-right-open-big:before {
  content: '\e811'; }

/* '' */
.icon-up-open-big:before {
  content: '\e812'; }

/* '' */
.icon-gauge:before {
  content: '\e813'; }

/* '' */
.icon-flow-cascade:before {
  content: '\e814'; }

/* '' */
.icon-plus:before {
  content: '\e815'; }

/* '' */
.icon-minus:before {
  content: '\e816'; }

/* '' */
.icon-eye:before {
  content: '\e817'; }

/* '' */
.icon-pencil:before {
  content: '\e818'; }

/* '' */
.icon-trash:before {
  content: '\e819'; }

/* '' */
.icon-facebook:before {
  content: '\e81a'; }

/* '' */
.icon-gplus:before {
  content: '\e81b'; }

/* '' */
.icon-list:before {
  content: '\e81c'; }

/* '' */
.icon-floppy:before {
  content: '\e81d'; }

/* '' */
.icon-twitter:before {
  content: '\e81e'; }

/* '' */
.icon-tag:before {
  content: '\e81f'; }

/* '' */
.icon-link:before {
  content: '\e820'; }

/* '' */
.icon-linkedin:before {
  content: '\e821'; }

/* '' */
.icon-picture:before {
  content: '\e822'; }

/* '' */
.icon-instagram:before {
  content: '\e823'; }

/* '' */
.icon-language:before {
  content: '\e824'; }

/* '' */
.icon-code:before {
  content: '\e825'; }

/* '' */
.icon-quote-left:before {
  content: '\e826'; }

/* '' */
.icon-file-pdf:before {
  content: '\e827'; }

/* '' */
.icon-file-word:before {
  content: '\e828'; }

/* '' */
.icon-doc:before {
  content: '\e829'; }

/* '' */
.icon-file-excel:before {
  content: '\e82a'; }

/* '' */
.icon-file-powerpoint:before {
  content: '\e82b'; }

/* '' */
.icon-file-image:before {
  content: '\e82c'; }

/* '' */
.icon-file-archive:before {
  content: '\e82d'; }

/* '' */
.icon-file-audio:before {
  content: '\e82e'; }

/* '' */
.icon-file-video:before {
  content: '\e82f'; }

/* '' */
.icon-file-code:before {
  content: '\e830'; }

/* '' */
.icon-folder-empty:before {
  content: '\e831'; }

/* '' */
.icon-bold:before {
  content: '\e832'; }

/* '' */
.icon-italic:before {
  content: '\e833'; }

/* '' */
.icon-header:before {
  content: '\e834'; }

/* '' */
.icon-indent-left:before {
  content: '\e835'; }

/* '' */
.icon-indent-right:before {
  content: '\e836'; }

/* '' */
.icon-list-bullet:before {
  content: '\e837'; }

/* '' */
.icon-ellipsis:before {
  content: '\e838'; }

/* '' */
.icon-eye-1:before {
  content: '\e839'; }

/* '' */
.icon-resize-full:before {
  content: '\e83a'; }

/* '' */
.icon-upload-cloud:before {
  content: '\e83b'; }

/* '' */
.icon-list-add:before {
  content: '\e83c'; }

/* '' */
.icon-ellipsis-vert:before {
  content: '\e83d'; }

/* '' */
.icon-lock:before {
  content: '\e83e'; }

/* '' */
.icon-newspaper:before {
  content: '\e83f'; }

/* '' */
.icon-logout:before {
  content: '\e840'; }

/* '' */
.icon-login:before {
  content: '\e841'; }

/* '' */
/* Reset */
/* Main reset */
*, *:after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Disable font size adaptation for webkit */
html {
  -webkit-text-size-adjust: 100%; }

img {
  max-width: 100%; }

/* Helpers */
/* Colors */
/* Fonts */
/* Animation */
/* Thresholds */
/* Base */
body {
  font-size: 1em;
  font-family: "Oxygen", sans-serif;
  color: #404647;
  background-color: #F5F5F5; }

a {
  text-decoration: none;
  color: #3498DB;
  transition: color 200ms; }

.no-touch a:hover {
  color: #217dbb; }

.container {
  width: 100%;
  max-width: 74em;
  margin: auto; }
  .container.container-main {
    padding-left: 24em;
    position: relative; }
    @media screen and (max-width: 992px) {
      .container.container-main {
        padding-left: 0; } }

.container-navigation {
  width: 24em;
  position: fixed;
  left: calc(50% - 37em);
  top: 0;
  height: 100%;
  z-index: 100; }
  @media screen and (max-width: 1184px) {
    .container-navigation {
      left: 0; } }
  @media screen and (max-width: 992px) {
    .container-navigation {
      left: -24em; } }

.container-content {
  width: 100%; }

.container-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.dialog-static {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

/* Modules */
.button {
  line-height: 2.85714286em;
  height: 2.85714286em;
  padding: 0 2em;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  background-color: transparent;
  color: #3498DB;
  cursor: pointer; }

.button-icon {
  padding-right: 1.25em; }

.button-emphasized {
  background-color: #2ECC71;
  color: #FAFAFA;
  transition: background-color 200ms; }

.no-touch .button-emphasized:hover {
  background-color: #29b765; }

input {
  width: 100%;
  height: 2.5em;
  background-color: transparent;
  font-size: 1em;
  color: #404647;
  outline: none;
  font-family: "Oxygen", sans-serif; }
  input::-webkit-input-placeholder {
    color: #BDC3C7; }
  input::-moz-placeholder {
    color: #BDC3C7; }
  input:-moz-placeholder {
    color: #BDC3C7; }
  input:-ms-input-placeholder {
    color: #BDC3C7; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-group {
  margin-bottom: 1em; }
  .form-group input {
    border-bottom: 1px solid #BDC3C7;
    transition: border-bottom 200ms; }
    .form-group input:focus {
      border-bottom: 1px solid #3498DB; }

.form-group-icon-label::after {
  clear: both;
  content: "";
  display: table; }

.form-group-icon-label .icon-label {
  float: right;
  color: #BDC3C7;
  display: inline-block;
  width: 2em;
  text-align: center;
  font-size: 1.25em;
  line-height: 2em;
  transition: color 200ms; }

.form-group-icon-label input {
  float: right;
  width: calc(100% - 2.5em); }
  .form-group-icon-label input:focus + .icon-label {
    color: #3498DB; }

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #5F696A; }

.material-light {
  background-color: #FAFAFA;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

.container-navigation {
  padding-top: 64px; }

.navigation-tab {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top; }

.scroll-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.scroller {
  overflow: auto;
  position: absolute;
  top: 0;
  right: -2em;
  bottom: 0;
  left: 0; }

.navigation-modules {
  width: 5em;
  padding: 0 1em; }

.navigation-modules-list {
  width: 3em;
  padding: 0 0.25em;
  margin: 0; }

.navigation-module {
  border-bottom: 1px solid #ECF0F1;
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .navigation-module i {
    color: #95A5A6;
    font-size: 1.25em;
    line-height: 2.8em;
    display: inline-block;
    cursor: pointer; }
  .navigation-module .module-dropdown {
    position: absolute;
    top: 0.5em;
    left: 2.5em;
    text-align: left;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms, z-index 0ms ease 250ms; }
    .navigation-module .module-dropdown.module-dropdown-hidden {
      display: none; }
  .navigation-module .module-sub {
    border-bottom: 0.5em solid #ECF0F1; }
    .navigation-module .module-sub a {
      color: #95A5A6;
      display: block;
      padding: 0 1.5em 0 0.5em;
      white-space: nowrap; }
      .navigation-module .module-sub a i {
        font-size: 1em;
        width: 2.5em;
        color: inherit;
        text-align: center;
        line-height: 2em; }

.module-info {
  background-color: #ECF0F1;
  font-size: 0.875em;
  line-height: 2.85714286em;
  padding: 0 1.5em 0 1em;
  white-space: nowrap;
  font-family: "Lato", sans-serif; }

.navigation-user {
  border-bottom: 0;
  padding: 0.25em;
  margin-top: 1.5em;
  margin-bottom: 2em; }
  .navigation-user .module-dropdown {
    top: 0em; }

.navigation-user-frame {
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #95A5A6;
  color: #FAFAFA;
  overflow: hidden;
  line-height: 2em;
  cursor: pointer; }

.navigation-version {
  text-align: center; }
  .navigation-version img {
    width: 2em; }
  .navigation-version a, .navigation-version a:hover {
    color: #BDC3C7;
    font-size: 0.75em; }

.no-touch .navigation-module > i, .no-touch .navigation-module > a > i {
  transition: color 250ms; }

.no-touch .navigation-module .module-sub a:hover {
  color: #E74C3C; }

.no-touch .navigation-module:hover > i, .no-touch .navigation-module:hover > a > i {
  color: #E74C3C; }

.no-touch .navigation-module:hover .module-dropdown {
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms; }

.navigation-nodes {
  width: 17em; }
  .navigation-nodes .navigation-nodes-container {
    height: 100%;
    width: 100%; }

/* Pages */
.auth-dialog {
  width: 20em;
  height: 26em;
  padding: 0 1em; }
  .auth-dialog .auth-logo {
    text-align: center;
    padding: 1em 0 0; }
    .auth-dialog .auth-logo img {
      height: 3em;
      width: 3em; }
  .auth-dialog h2 {
    margin-top: 0.5em; }
  .auth-dialog .auth-error, .auth-dialog .auth-success {
    color: #E74C3C;
    padding: 0.5em;
    line-height: 1.25em;
    height: 3.5em; }
  .auth-dialog .auth-success {
    color: #2ECC71; }
  .auth-dialog form {
    padding: 0.5em 1em 1.25em 0; }
    .auth-dialog form.auth-form-space {
      padding-top: 4em; }
  .auth-dialog .auth-buttons::after {
    clear: both;
    content: "";
    display: table; }
  .auth-dialog .auth-buttons button {
    float: right; }
  .auth-dialog .auth-remember-check {
    display: block;
    float: left; }
    .auth-dialog .auth-remember-check span {
      transition: color 200ms;
      color: #E74C3C; }
      .auth-dialog .auth-remember-check span .icon-check {
        display: none; }
    .auth-dialog .auth-remember-check input {
      display: none; }
      .auth-dialog .auth-remember-check input:checked + span {
        color: #2ECC71; }
        .auth-dialog .auth-remember-check input:checked + span .icon-check {
          display: inline; }
        .auth-dialog .auth-remember-check input:checked + span .icon-cancel {
          display: none; }
  .auth-dialog .auth-option {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #F5F5F5; }

.texture-overlay {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/line_diagonal2.png") repeat center center; }

/*# sourceMappingURL=app.css.map */